<div class="page-header">
    <h1 class="title">Of</h1>
    <a class="link-rxjs" href="https://rxjs.dev/api/index/function/of" target="_blank" rel="noopener">rxjs of ➡️</a>
</div>

<p>
    Esta función nos devuelve un Observable que emite los elementos que le pasamos como argumento. Cuando los ha emitido
    todos, completa.
</p>

<textarea highlight-js [lang]="'typescript'">
import { of } from 'rxjs';

const myOfObservable = of('🍎', ['🍌', '🍋'], '🥦');

myOfObservable.subscribe({
  next: (value) => console.log(`The next value is: ${value}`),
  error: (error) => console.log(`Error: ${error}`),
  complete: () => console.log('The observable has completed'),
});

// Output
// ======
// The next value is: 🍎
// The next value is: ['🍌', '🍋']
// The next value is: 🥦
// The observable has completed
</textarea>

<p>
    En este ejemplo se emiten tres elementos. Primero una 🍎, luego un array <span class="no-break">['🍌', '🍋']</span>
    y finalmente un 🥦. Cuando se han emitido todos los elementos vemos que se completa el Observable.
</p>

<p>
    En la siguiente demo se emiten tres elementos también. Pruébalo:
</p>

<svg appDemoContainer viewBox="0 0 520 240">
    <g appOperator transform="translate(60, 45)"></g>

    <g transform="translate(80, 80)" appConveyorHorizontal [conveyorWorking$]="conveyorsWorking[MAIN_ID]"
        [length]="250.8">
    </g>

    <g transform="translate(370, 20)" appSubscriber [showSpeechBubble$]="speechBubble$"
        (onSubscribe$)="onSubscribe($event)">
    </g>

    <g>
        <text *ngFor="let element of elementsInConveyor" [attr.x]="element.x" y="136">{{element.value}}</text>
    </g>
</svg>