:host {
  display: block;
  padding: 15px;
  max-width: 1000px;
  margin: 0 auto;
}

.graphics-container {
  display: flex;
  gap: 40px;

  div[class$="graphic-container"] {
    width: 50%;

    .graphic-card {
      border: 2px solid black;
      border-radius: 8px;
      padding: 5px;
    }

    .caption {
      display: inline-block;
      margin-top: 10px;
      font-size: 1.4em;
    }
  }

  .month-graphic-container {
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;

      .icon {
        flex-grow: 1;
      }

      .change-month-buttons {
        display: flex;
        gap: 10px;

        span {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          border: 2px solid black;
          border-radius: 3px;
          width: 30px;
          height: 30px;
          cursor: pointer;
        }

        span:hover {
          background-color: #bad0ff;
        }
      }
    }

    .calendar {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      list-style: none;
      padding: 0;

      li:nth-child(-n + 7) {
        // these are the initials of the week days LMXJVSD
        font-weight: bold;
      }
    }
  }

  .year-graphic-container {
  }
}

@media (max-width: 992px) {
  .title {
    text-align: center;
  }

  .graphics-container {
    flex-wrap: wrap;

    div[class$="graphic-container"] {
      width: 100%;
    }
  }
}
