<div class="month-graphic-container">
  <div class="header">
    <span>
      <p class="month-and-year">{{MONTHS[currentMonthIndex]}} {{currentYear}}</p>
      <p class="liters">{{totalAmountOfLitersInCurrentMonth}} litros</p>
    </span>
    <span class="icon">{{weatherIcon}}</span>
    <div class="change-month-buttons">
      <button (click)="showPreviousMonth()">&lt;</button>
      <button (click)="showNextMonth()">&gt;</button>
    </div>
  </div>

  <ol class="calendar">
    <li>L</li>
    <li>M</li>
    <li>X</li>
    <li>J</li>
    <li>V</li>
    <li>S</li>
    <li>D</li>

    <li *ngFor="let day of monthDays; let i=index" [ngStyle]="i===0 ?{'grid-column-start': weekDayIndexMonthStarts}:{}">
      <svg class="pluviometer-svg" viewBox="0 0 300 360">
        <filter [id]="'fillpartial'+i">
          <feFlood flood-color="#00a2e8" />
          <feOffset [attr.dy]="day.svgOffset"></feOffset>
          <feComposite operator="in" in2="SourceGraphic" />
          <feComposite operator="over" in2="SourceGraphic" />
        </filter>

        <path
          d="M20,40C100,10 200,10 280,40L280,115C280,150 240,160 220,170L190,350L110,350L80,170C60,160 20,150 20,115Z"
          stroke="#b5e61d" stroke-width="40" />
        <path
          d="M20,40C100,10 200,10 280,40L280,115C280,150 240,160 220,170L190,345L110,345L80,170C60,160 20,150 20,115Z"
          stroke="none" fill="#e1ffe2" [attr.filter]="'url(#fillpartial'+i+')'" />

        <text x="150" y="140" stroke="#e1ffe2" stroke-width="6" fill="#1c9a00" font-size="8.8rem" font-weight="bold"
          text-anchor="middle">{{i+1}}</text>
      </svg>

      <span class="liters">{{day.liters}} L</span>
    </li>
  </ol>

  <p *ngIf="monthDays.length === 0" class="no-data-available">
    No hay datos disponibles
  </p>
</div>

<div class="graphic-card"></div>