:host {
  display: block;
  padding: 15px;
  max-width: 1000px;
  margin: 0 auto;
}

.graphics-container {
  display: flex;
  gap: 40px;

  div[class$="graphic-container"] {
    width: 50%;

    .graphic-card {
      border: 2px solid black;
      border-radius: 8px;

      // TODO remove
      height: 300px;
    }

    .caption {
      display: inline-block;
      margin-top: 10px;
      font-size: 1.4em;
    }
  }

  .month-graphic-container {
  }

  .year-graphic-container {
  }
}

@media (max-width: 992px) {
  .title {
    text-align: center;
  }

  .graphics-container {
    flex-wrap: wrap;

    div[class$="graphic-container"] {
      width: 100%;
    }
  }
}
