<div class="page-header">
  <h1 class="title">AuditTime</h1>
  <a class="link-rxjs" href="https://rxjs.dev/api/operators/auditTime" target="_blank">rxjs auditTime ➡️</a>
</div>

<p>
  Este operador ignora los elementos del Observable fuente durante un tiempo determinado y luego emite el último que
  se haya emitido pasado ese tiempo. El contador para ignorar los elementos comienza cuando se detecta un elemento en
  el Observable fuente.
</p>

<textarea highlight-js [lang]="'typescript'">
import { auditTime, Observable } from 'rxjs';

new Observable((suscriptor) => {
  setTimeout(() => suscriptor.next('🍎'), 200);
  setTimeout(() => suscriptor.next('🍌'), 300);
  setTimeout(() => suscriptor.next('🍓'), 1100);
  setTimeout(() => suscriptor.next('🍊'), 1200);
})
  .pipe(auditTime(500))
  .subscribe({
    next: (value) => console.log(`The next value is: ${value}`),
    error: (error) => console.error(`There is an error: ${error}`),
    complete: () => console.log('Completed'),
  });

// Output
// The next value is: 🍌
// The next value is: 🍊
</textarea>

<p>
  Expliquemos el ejemplo. Primero se emite una 🍎 a los 200 milisegundos. En este momento comienza el temporizador del
  operador. Después se emite el 🍌 pasados 100 milisegundos más. Y cuando llega el contador total a 700 milisegundos,
  el temporizador termina. Como el último elemento emitido es el 🍌, se emite el 🍌. Ahora el tiempo simplemente pasa,
  hasta que se emite la 🍓. Entonces el contador se vuelve a iniciar. Se emite también la 🍊. Y cuando el temporizador
  llega a cero en los 1600 milisegundos, se emite la 🍊, porque fué lo último que se emitió.
</p>

<p>Pruébalo en esta demo, donde el valor del temporizador es de 3️⃣ segundos:</p>

<svg appDemoContainer viewBox="0 0 640 240">
  <g transform="translate(30, 80)" appConveyorController [button1]="controllerButtons[0]"
    [button2]="controllerButtons[1]" [button3]="controllerButtons[2]" [button4]="controllerButtons[3]"
    [button5]="controllerButtons[4]" (onButtonClick)="onControllerButtonClick($event)">
  </g>

  <g transform="translate(220, 80)" appConveyorHorizontal [conveyorWorking$]="conveyorWorking$" [length]="250.8">
  </g>

  <g appOperator transform="translate(295, 45)"></g>

  <text x="337" y="110" fill="white" text-anchor="middle" font-size="0.8em">{{counter}}s</text>

  <g transform="translate(496, 20)" appSubscriber [showSpeechBubble$]="speechBubble$"
    (onSubscribe$)="onSubscribe($event)">
  </g>

  <g>
    <text x="300" y="136">{{elementInStandBy}}</text>
    <text *ngFor="let element of elementsInConveyor" [attr.x]="element.x" y="136">{{element.value}}</text>
  </g>
</svg>