<p>
  Los datos de este registro continen la dirección IPv6 de una máquina.
</p>

<pre>
  &lt;host&gt;  [&lt;ttl&gt;]  [&lt;class&gt;]  AAAA  &lt;address&gt;
</pre>

<dl>
  <dt>host</dt>
  <dd>Es el nombre de la máquina (por ejemplo: www).</dd>

  <dt>address</dt>
  <dd>
    Es la dirección IP de la máquina en formato separado por dos puntos. Por ejemplo:
    2001:0db8:85a3:0000:0000:8a2e:0370:7334
  </dd>
</dl>

<p>
  Si una máquina tiene varias direcciones IP, el servidor DNS debe tener un registro diferente para cada dirección IP.
</p>