<p>
  El registro AAAA contiene la <strong>dirección IPv6</strong> de una máquina. El formato del registro es el siguiente:
</p>

<pre>
  &lt;máquina&gt;  [&lt;ttl&gt;]  [&lt;clase&gt;]  AAAA  &lt;dirección&gt;  
</pre>

<dl>
  <dt>máquina</dt>
  <dd>Es el nombre de la máquina (por ejemplo: www).</dd>

  <dt>dirección</dt>
  <dd>
    Es la dirección IP de la máquina en formato separado por dos puntos. Por ejemplo:
    <i>2001:0db8:85a3:0000:0000:8a2e:0370:7334</i>
  </dd>
</dl>

<p>
  Si una máquina tiene varias direcciones IP, el servidor DNS debe tener un registro diferente para cada dirección IP.
</p>