<ng-container *ngIf="isEmptyState">
  Introduce al menos una ronda para mostrar las estadísticas
</ng-container>

<ng-container *ngIf="!isEmptyState">
  <svg class="graph" (mousedown)="onClickToShowPlayersPanelInfo($event)"
    [attr.viewBox]="(viewBox.x-5) + ' ' + (viewBox.y-5) + ' ' + (viewBox.width+10) + ' ' + (viewBox.height+10)">
    <!-- round markers -->
    <g class="round-markers">
      <ng-container *ngFor="let roundMark of roundSvgMarkers">
        <text [attr.x]="((viewBox.width-10)/(playersService.nextRoundNumber-1))*roundMark*5"
          y="-5">{{roundMark*5}}</text>
        <line [attr.x1]="5+((viewBox.width-10)/(playersService.nextRoundNumber-1))*roundMark*5" [attr.y1]="viewBox.y"
          [attr.x2]="5+((viewBox.width-10)/(playersService.nextRoundNumber-1))*roundMark*5"
          [attr.y2]="viewBox.height-10"></line>
      </ng-container>
    </g>

    <line class="round-indicator" *ngIf="showPlayersPanelInfo"
      [attr.x1]="5+((viewBox.width-10)/(playersService.playedRounds))*playersPanelInfoRound" [attr.y1]="viewBox.y"
      [attr.x2]="5+((viewBox.width-10)/(playersService.playedRounds))*playersPanelInfoRound"
      [attr.y2]="viewBox.height-10" />

    <!-- y axis -->
    <line class="axis" x1="0" [attr.y1]="viewBox.y" x2="0" [attr.y2]="viewBox.height-10" />

    <!-- x axis -->
    <line class="axis" x1="0" [attr.y1]="0" [attr.x2]="viewBox.width" [attr.y2]="0" />

    <!-- player score lines  -->
    <path class="line" *ngFor="let player of players" [attr.d]="buildPath(player)" [attr.stroke]="colors[player.id]" />
  </svg>

  <div class="legend">
    <div *ngFor="let player of players">
      <span class="dot-player" [attr.style]="'background-color: ' + colors[player.id]"></span>
      <span>{{player.name}}</span>
    </div>
  </div>

  <div class="round-info" *ngIf="showPlayersPanelInfo">
    <div class="round-number"><strong>Ronda {{playersPanelInfoRound}}</strong></div>
    <div class="player-display" *ngFor="let player of playersPanelInfoSorted">
      <span class="dot-player" [attr.style]="'background-color: ' + colors[player.id]"></span>
      <span class="name">{{player.name}}</span>
      <span class="accumulated-score">{{player.accumulatedScores[playersPanelInfoRound]}}</span>
      <span *ngIf="playersPanelInfoRound > 0">
        <ng-container *ngIf="playersPanelInfoPositionMovements[player.id] > 0">
          ⬆️{{playersPanelInfoPositionMovements[player.id] | toEmoji}}</ng-container>
        <ng-container *ngIf="playersPanelInfoPositionMovements[player.id] < 0">
          ⬇️{{playersPanelInfoPositionMovements[player.id] | toEmoji}}</ng-container>
      </span>
    </div>
  </div>

  <div class="ranking">
    <div class="box">Puntuación total actual más alta: <br> <strong>{{playersWithMaxCurrentScore}}</strong></div>
    <div class="box">Puntuación total actual más baja: <br> <strong>{{playersWithMinCurrentScore}}</strong></div>
  </div>

  <div class="round-scoring">
    <div class="box">Ronda máxima puntuación: <br> <strong>{{playersMaxScoreInRound}}
        ({{playersService.maximumScoreInOneRound}})</strong>
    </div>
    <div class="box">Ronda mínima puntuación: <br> <strong>{{playersMinScoreInRound}}
        ({{playersService.minimumScoreInOneRound}})</strong>
    </div>
  </div>
</ng-container>