@import "../styles";

:host {
    display: block;
}

@include empty-state;

.graph {
    width: 100%;
    transform: scale(1, -1);

    .axis {
        stroke-width: 3;
        stroke: black;
    }

    .line {
        fill: none;
        stroke-width: 2;
    }
}

.legend {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 15px;
    font-size: 0.8em;

    .dot {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 5px;
    }
}

.round-scoring,
.ranking {
    display: flex;
    justify-content: space-around;
    margin-top: 35px;

    .box {
        text-align: center;
        width: 50%;
    }
}
