<span class="statement">Completa</span>

<form (submit)="validate($event)" [formGroup]="form">
  <input type="text" placeholder="Significado" formControlName="meaning"
    [ngClass]="{success: validation == 'ok', error: validation == 'error'}">

  <input type="text" placeholder="Infinitivo" formControlName="infinitive"
    [ngClass]="{success: validation == 'ok', error: validation == 'error'}">

  <input type="text" placeholder="Pasado" formControlName="past"
    [ngClass]="{success: validation == 'ok', error: validation == 'error'}">

  <input type="text" placeholder="Participio" formControlName="participle"
    [ngClass]="{success: validation == 'ok', error: validation == 'error'}">

  <button type="submit" [disabled]="form.invalid" class="app-button" *ngIf="validation !== 'error'">
    Comprobar
  </button>

  <div *ngIf="validation === 'error'" class="solution-panel">
    Solución:
    <p>Significado: <strong>{{currentVerb.meaning}}</strong></p>
    <p>Infinitivo: <strong>{{currentVerb.infinitive}}</strong></p>
    <p>Pasado: <strong>{{currentVerb.past}}</strong></p>
    <p>Participio: <strong>{{currentVerb.participle}}</strong></p>
  </div>

  <button class="app-button" *ngIf="validation === 'error'" (click)="nextVerb()">Siguiente</button>
</form>