<div class="page-header">
  <h1 class="title">DistinctUntilChanged</h1>
  <a class="link-rxjs" href="https://rxjs.dev/api/operators/distinctUntilChanged" target="_blank">rxjs
    distinctUntilChanged ➡️</a>
</div>

<p>
  Este operador evita que se emitan dos eventos iguales seguidos.
</p>

<textarea highlight-js [lang]="'typescript'">
import { distinctUntilChanged, Observable } from 'rxjs';

new Observable((suscriptor) => {
  setTimeout(() => suscriptor.next('🍎'), 100);
  setTimeout(() => suscriptor.next('🍌'), 200);
  setTimeout(() => suscriptor.next('🍌'), 300);
  setTimeout(() => suscriptor.next('🍇'), 400);
  setTimeout(() => suscriptor.next('🍋'), 500);
  setTimeout(() => suscriptor.next('🍋'), 600);
})
  .pipe(distinctUntilChanged())
  .subscribe({
    next: (value) => console.log(`The next value is: ${value}`),
    error: (error) => console.error(`There is an error: ${error}`),
    complete: () => console.log('Completed'),
  });

// Output
// The next value is: 🍎
// The next value is: 🍌
// The next value is: 🍇
// The next value is: 🍋
</textarea>

<p>
  Bueno, vamos a explicar que ha pasado. Primero se emite la 🍎. Como no se había emitido nada antes, el operador no
  tiene con que comparar, así que lo deja pasar al suscriptor. Luego se emite un 🍌. Como es diferente a la 🍎, se
  emite también al suscriptor. Luego se emite otro 🍌. Esta vez se filtra, pues es igual que el que se había emitido
  por última vez. Después se emiten unas 🍇. Esto no es lo mismo que un 🍌, así que se emite también al suscriptor.
  Luego se emite un 🍋. Como es diferente a las 🍇 se emite también. Por último se emite otro 🍋. Como lo de antes era
  también un 🍋, no se deja pasar al suscriptor.
</p>

<p>Pruébalo en esta demo:</p>