<div class="page-header">
  <h1 class="title">Skip</h1>
  <a class="link-rxjs" href="https://rxjs.dev/api/operators/skip" target="_blank" rel="noopener">rxjs skip ➡️</a>
</div>

<p>
  Este operador rechaza totalmente la primera cantidad de elementos que le indiquemos.
</p>

<textarea highlight-js [lang]="'typescript'">
import { Observable, skip } from 'rxjs';    

new Observable((suscriptor) => {
  setTimeout(() => suscriptor.next('🍎'), 100);
  setTimeout(() => suscriptor.next('🍌'), 200);
  setTimeout(() => suscriptor.next('🍇'), 300);
  setTimeout(() => suscriptor.next('🍋'), 400);
})
  .pipe(skip(2))
  .subscribe({
    next: (value) => console.log(`The next value is: ${value}`),
    error: (error) => console.error(`There is an error: ${error}`),
    complete: () => console.log('Completed'),
  });

// Output
// The next value is: 🍇
// The next value is: 🍋
</textarea>

<p>
  Pues lo dicho. Como le hemos indicado que los dos primeros elementos emitidos en el Observable fuente los ignore,
  ignora la 🍎 y el 🍌. Luego ya deja pasar las 🍇, el 🍋 y todo lo que pudiese venir después.
</p>

<p>Juega un poco con esta demo, donse se ignoran los 3️⃣ primeros elementos:</p>

<svg appDemoContainer viewBox="0 0 640 240">
  <g transform="translate(30, 80)" appConveyorController [button1]="controllerButtons[MAIN_ID][0]"
    [button2]="controllerButtons[MAIN_ID][1]" [button3]="controllerButtons[MAIN_ID][2]"
    [button4]="controllerButtons[MAIN_ID][3]" [button5]="controllerButtons[MAIN_ID][4]"
    (onButtonClick)="onControllerButtonClick($event)">
  </g>

  <g transform="translate(220, 80)" appConveyorHorizontal [conveyorWorking$]="conveyorsWorking[MAIN_ID]"
    [length]="250.8">
  </g>

  <g appOperator transform="translate(295, 45)"></g>

  <text x="320" y="106" font-size="0.5em" *ngIf="counterSkip != 0">{{counterSkipEmojis[counterSkip-1]}}</text>

  <g transform="translate(496, 20)" appSubscriber [showSpeechBubble$]="speechBubble$"
    (onSubscribe$)="onSubscribe($event)">
  </g>

  <g>
    <text *ngFor="let element of elementsInConveyor" [attr.x]="element.x" y="136">{{element.value}}</text>
  </g>
</svg>