<div class="content">
    <h1>Ronda {{nextRoundPopUpInput.round}}</h1>

    <div class="players-container">
        <ng-container *ngFor="let player of nextRoundPopUpInput.players; let i = index">
            <div *ngIf="i === currentPlayer" @transitionNextPlayer>
                <label>
                    Puntuación para <br> <strong class="player-name">{{player.name}}</strong>
                    <br>
                    <span class="score-display">{{player.punctuation}}</span>
                </label>
            </div>
        </ng-container>
    </div>

    <div class="keyboard" (click)="onClickKeyBoard($event)">
        <span class="previous-player" (click)="goPreviousPlayer()">&larr;</span>
        <span class="next-player" (click)="goNextPlayer()">
            <ng-container *ngIf="currentPlayer < nextRoundPopUpInput.players.length - 1">&rarr;</ng-container>
            <ng-container *ngIf="currentPlayer === nextRoundPopUpInput.players.length - 1">✔️</ng-container>
        </span>

        <span>1</span>
        <span>2</span>
        <span>3</span>

        <span>4</span>
        <span>5</span>
        <span>6</span>

        <span>7</span>
        <span>8</span>
        <span>9</span>

        <span>-</span>
        <span>0</span>
        <span>↩</span>
    </div>
</div>