<p>
  El registro A contiene la <strong>dirección IPv4</strong> de una máquina. El formato del registro es el siguiente:
</p>

<pre>
  &lt;máquina&gt;  [&lt;ttl&gt;]  [&lt;clase&gt;]  A  &lt;dirección&gt;  
</pre>

<dl>
  <dt>máquina</dt>
  <dd>Es el nombre de la máquina (por ejemplo: www).</dd>

  <dt>dirección</dt>
  <dd>Es la dirección IP de la máquina en formato separado por puntos. Por ejemplo: <i>192.168.1.123</i></dd>
</dl>

<p>
  Si una máquina tiene varias direcciones IP, el servidor DNS debe tener un registro diferente para cada dirección IP.
</p>