<div class="game-name">
  <label class="label">Juego</label>

  <div class="select" [ngClass]="{open: selectGameNameDropDownOpen}"
    (click)="selectGameNameDropDownOpen = !selectGameNameDropDownOpen">
    {{gameHolderService.service.gameName}}
  </div>

  <div class="options" *ngIf="selectGameNameDropDownOpen">
    <div *ngFor="let gameService of gameServices" (click)="onSelectGameName(gameService)">
      {{gameService.gameName}}
    </div>
  </div>
</div>

<div class="number-of-cards" *ngIf="gameHolderService.service.showNumberOfCardsConfig">
  <label class="label">Cartas</label>

  <div #numberOfCards class="input-number" (scroll)="calculateNumberOfSelectedCards()">
    <span (click)="setNumberOfCards = getNumberOfCards - 2">{{getNumberOfCards - 2}}</span>
    <span (click)="setNumberOfCards = getNumberOfCards - 1">{{getNumberOfCards - 1}}</span>
    <span class="selected">{{getNumberOfCards}}</span>
    <span (click)="setNumberOfCards = getNumberOfCards + 1">{{getNumberOfCards + 1}}</span>
    <span (click)="setNumberOfCards = getNumberOfCards + 2">{{getNumberOfCards + 2}}</span>
  </div>
</div>

<div class="limit-score" *ngIf="gameHolderService.service.showLimitScoreConfig">
  <label class="label">Límite</label>

  <div #limitScore class="input-number" (scroll)="calculateLimitScore()">
    <span (click)="setLimitScore = getLimitScore - 2">{{getLimitScore - 2}}</span>
    <span (click)="setLimitScore = getLimitScore - 1">{{getLimitScore - 1}}</span>
    <span class="selected">{{getLimitScore}}</span>
    <span (click)="setLimitScore = getLimitScore + 1">{{getLimitScore + 1}}</span>
    <span (click)="setLimitScore = getLimitScore + 2">{{getLimitScore + 2}}</span>
  </div>
</div>