:host {
    display: block;
    height: 100%;
    overflow-y: auto;
    color: #d17515;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .game-name {
        position: relative;

        .select {
            color: black;
            width: 90%;
            margin-top: 5px;
            border: 2px solid #d17515;
            border-radius: 5px;
            padding: 10px;
            font-size: 1.2rem;
            position: relative;
            box-sizing: border-box;

            &::after {
                content: "";
                width: 15px;
                height: 15px;
                background-color: black;
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translateY(-25%);
                transform-origin: 50% 25%;
                clip-path: polygon(20% 0%, 0% 20%, 50% 70%, 100% 20%, 80% 0%, 50% 30%);
                transition: transform 0.5s;
            }

            &.open::after {
                transform: rotate(180deg);
            }
        }

        .options {
            position: absolute;
            bottom: 0;
            transform: translateY(calc(100% + 2px));
            color: black;
            background-color: #fbfbff;
            border: 2px solid black;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            box-sizing: border-box;
            width: 90%;

            div {
                padding: 15px;
                box-sizing: border-box;
                width: 100%;

                &:not(:last-child) {
                    border-bottom: 1px solid black;
                }
            }
        }
    }

    .number-of-cards {
        .input-number {
            display: inline-flex;
            border: 2px solid #d17515;
            border-radius: 5px;
            margin-top: 5px;
            max-width: 150px;
            overflow: auto;

            span {
                color: black;
                padding: 10px 0;
                min-width: 50px;
                text-align: center;
                box-sizing: border-box;
                border-right: 2px solid #d17515;

                &.selected {
                    background-color: #33f3;
                }
            }
        }
    }

    .players {
        // TODO
    }

    .winner {
        // TODO
    }

    .limit-score {
        // TODO
    }
}
