<svg class="graph" (mousedown)="onClickToShowPlayersPanelInfo($event)" [attr.viewBox]="viewBox">
    <!-- round markers -->
    <g class="round-markers">
        <ng-container *ngFor="let roundMark of svgRoundMarkers">
            <text [attr.x]="roundMark.text.x" [attr.y]="roundMark.text.y">{{roundMark.value}}</text>
            <line [attr.x1]="roundMark.line.x1" [attr.y1]="roundMark.line.y1" [attr.x2]="roundMark.line.x2"
                [attr.y2]="roundMark.line.y2">
            </line>
        </ng-container>
    </g>
</svg>

<div class="legend">
    <div *ngFor="let player of gameHolderService.service.players"
        (click)="showPlayerGraphLines[player.id] = !showPlayerGraphLines[player.id]">
        <span class="dot-player" [attr.style]="'background-color: ' + colors[player.id]"></span>
        <span>{{player.name}}</span>
    </div>
</div>

<div class="round-panel-info" *ngIf="showRoundPanel">
    <div class="round-number">
        <strong>Ronda {{ selectedRound + 1 }}</strong>
    </div>
    <div class="player-display" *ngFor="let player of roundPanelPlayers">
        <span class="dot-player" [attr.style]="'background-color: ' + colors[player.id]"></span>
        <span class="name" (click)="showPlayerGraphLines[player.id] = !showPlayerGraphLines[player.id]">
            {{player.name}}
        </span>
        <span class="accumulated-score">
            {{gameHolderService.service.getTotalScore(player.id, selectedRound)}}
        </span>
        <span *ngIf="selectedRound > 0">
            <ng-container *ngIf="playerMovements[player.id] > 0">
                ⬆️{{playerMovements[player.id] | toEmoji}}</ng-container>
            <ng-container *ngIf="playerMovements[player.id] < 0">
                ⬇️{{playerMovements[player.id] | toEmoji}}</ng-container>
        </span>
    </div>
</div>