:host {
    display: block;
}

pre {
    overflow-x: auto;
    background-color: #f2f2f2;
}

dt {
    color: #d17515;

    &:not(:first-child) {
        margin-top: 15px;
    }
}

@media (max-width: 575px) {
    dd {
        margin: 0;
    }
}
