<app-header-print></app-header-print>

<main>
  <section>
    <!-- TODO put link to man page like in rxjs pages -->
    <h1 class="title">Find</h1>

    <p>
      Este comando permite hacer <strong>búsqueda de ficheros y directorios</strong> en el sistema de archivos. Permite
      buscarlos por nombre, tamaño y otros atributos. La sintaxis básica es:
    </p>

    <!-- TODO set background color -->
    <pre>find &lt;directorio-de-entrada&gt; &lt;opciones&gt;</pre>

    <ul>
      <li><b>directorio-de-entrada</b>: es el directorio en el que empieza la búsqueda.</li>
      <li><b>opciones</b>: especifica la búsqueda de ficheros por tamaño, fecha, etc.</li>
    </ul>

    <p>
      El directorio de entrada por defecto es el actual, y algunas opciones son añadidas automaticamente con valores por
      defecto.
    </p>
  </section>

  <section>
    <h2>Búsqueda por nombre de fichero</h2>

    <p>Para buscar un fichero o directorio con un nombre concreto la opción a usar es <strong>-name</strong>:</p>

    <app-terminal-code>
      <span terminal-code-command>find -name nombre-fichero.txt</span>
    </app-terminal-code>

    <p>También podemos usar una expresión regular. Se recomienda encerrarla entre comillas.</p>

    <app-terminal-code>
      <span terminal-code-command>find -name "*.txt"</span>
    </app-terminal-code>

    <p>
      Si no queremos tener en cuenta mayúsculas ni minúsculas, podemos usar la opción <strong>-iname</strong>
    </p>
  </section>

  <section>
    <h2>Limitar la búsqueda</h2>

    <p>
      Por defecto la búsqueda se hace de forma recursiva en los directorios que se va encontrando.
    </p>

    <p>
      Podemos especificar desde, hasta que profundidad buscar con las opciones <strong>-mindepth</strong> y
      <strong>-maxdepth</strong>
    </p>

    <app-terminal-code>
      <p terminal-code-command>find -mindepth 2 -maxdepth 3</p>
    </app-terminal-code>

    <p>
      <span class="app-no-break">-mindepth 1</span> significa que procese todos los ficheros o directorios excepto los
      del punto de partida. <span class="app-no-break">-maxdepth 0</span> significa que procese sólo los puntos de
      entrada.
    </p>

    <p>
      Para <strong>excluir directorios</strong> de la búsqueda podemos hacerlo con la opción <strong>-not -path</strong>
    </p>

    <app-terminal-code>
      <span terminal-code-command>find -name package.json -not -path "./node_modules/*"</span>
    </app-terminal-code>
  </section>

  <section>
    <h1>Búsqueda por tipo</h1>

    <p>
      En Linux existen archivos, directorios, enlaces simbólicos, etc. El comando find nos permite buscar por este tipo
      mediante la opción <strong>-type:</strong>
    </p>

    <app-terminal-code>
      <span terminal-code-command>find -type f </span>
    </app-terminal-code>

    <ul>
      <li><strong>f</strong>: ficheros normales</li>
      <li><strong>d</strong>: directorios</li>
      <li><strong>l</strong>: enlaces simbólicos</li>
      <li><strong>s</strong>: sockets</li>
      <li>...</li>
    </ul>
  </section>

  <section>
    <h1>Búsqueda por fecha</h1>

    <p>
      El comando find no permite buscar por la fecha de creación de un fichero, pero permite buscar por la
      <strong>fecha de modificación</strong> con la opción <strong class="app-no-break">-mtime</strong>:
    </p>

    <app-terminal-code>
      <span terminal-code-command>find -mtime 1</span>
    </app-terminal-code>

    <p>
      Con este comando estamos buscando archivos que fueron modificados exactamente hace un día. Con modificar me
      refiero a escribir en ellos, a editar su contenido y a guardarlo.
    </p>

    <p>
      También podemos buscar por la <strong>fecha de acceso</strong> con la opción <strong
        class="app-no-break">-atime</strong>:
    </p>

    <app-terminal-code>
      <span terminal-code-command>find -atime +2</span>
    </app-terminal-code>

    <p>
      Con este comando buscamos ficheros que hayan sido accedidos hace más de dos días por última vez. Con accedido me
      refiero a que algún programa ha leído el contendido para mostrarlo por pantalla, o enviarlo por correo, por
      ejemplo.
    </p>

    <p>
      También podemos buscar por la <strong>fecha de modificación de las propiedades</strong> del archivo con la opción
      <strong class="app-no-break">-ctime</strong>:
    </p>

    <app-terminal-code>
      <span terminal-code-command>find -ctime -3</span>
    </app-terminal-code>

    <p>
      Con este comando buscamos ficheros cuyos metadatos han sido modificados por última vez hace menos de tres días.
      Con metadatos me refiero a los permisos, nombre o directorio en el que se encuentra.
    </p>

    <p>
      Como vemos en los ejemplos, añadiendo el + o el - podemos indicar que sea más tiempo de, menos tiempo de, o que
      sea exactamente un tiempo. En realidad el número pasado a la opción es 24 horas multiplicado por ese número. Si
      pasamos 0.5, pues sería medio día (12 horas).
      <!-- TODO review this comment about decimal numbers -->
    </p>

    <p>
      Si la búsqueda la queremos hacer en minutos, también tenemos las opciones <strong
        class="app-no-break">-mmin</strong>, <strong class="app-no-break">-amin</strong> y <strong
        class="app-no-break">-cmin</strong>.
    </p>
  </section>

  <section>
    <h1>Búsqueda por tamaño</h1>

    <p>
      Podemos realizar búsquedas por el tamaño de un fichero con la opción <strong class="app-no-break">-size</strong>:
    </p>

    <app-terminal-code>
      <span terminal-code-command>find -size 15M</span>
    </app-terminal-code>

    <p>
      Debemos pasarle una cantidad y una unidad. En este caso se mostrarán los ficheros que ocupen 15 mebibytes.
    </p>

    <p>
      También podemos usar las opciones + y - como hicimos en la búsqueda por fechas.
    </p>

    <p>Las unidades disponibles son:</p>

    <ul>
      <li><strong>b</strong>: bloques de 512 bytes</li>
      <li><strong>c</strong>: bytes</li>
      <li><strong>k</strong>: kibibytes</li>
      <li><strong>M</strong>: mebibytes</li>
      <li><strong>G</strong>: gibibytes</li>
    </ul>
  </section>

  <section>
    <h1>Búsqueda por dueño</h1>

    <p>
      Find también nos permite buscar ficheros por el propietario del mismo con la opción <strong
        class="app-no-break">-user</strong> o <strong class="app-no-break">-group</strong>:
    </p>

    <app-terminal-code>
      <span terminal-code-command>find -user jaime</span>
    </app-terminal-code>

    <p>
      Busca todos los ficheros que son propiedad del usuario con nombre jaime.
    </p>

    <app-terminal-code>
      <span terminal-code-command>find -group 1001</span>
    </app-terminal-code>

    <p>
      También se permite pasar el id del usuario o el grupo. En este último caso se mostrarán los ficheros que
      pertenecen al grupo con id 1001.
    </p>
  </section>

  <section>
    <h1>Búsqueda por permisos</h1>

    <p>
      Con la opción <strong class="app-no-break">-perm</strong> podemos buscar ficheros con exactamente los permisos que
      le pasemos:
    </p>

    <app-terminal-code>
      <span terminal-code-command>find -perm 700</span>
    </app-terminal-code>

    <p>
      Con este comando buscamos ficheros que tengan permisos de lectura, escritura y ejecución para los propietarios del
      fichero, pero para nadie más. Es decir, exactamente los permisos <span class="app-no-break">-rwx------</span>.
    </p>

    <p>
      La opción <span class="app-no-break">-perm</span> también permite búsquedas más flexibles. Por ejemplo, para
      buscar si al menos tiene activado todos los permisos que le pasemos añadimos un - delante de la representación
      octal (también se podría usar la notación simbólica):
    </p>

    <app-terminal-code>
      <span terminal-code-command>find -perm -4000</span>
    </app-terminal-code>

    <p>
      Este comando buscaría ficheros que tienen el bit SUID activado, independientemente de si tienen o no otros
      permisos de lectura, escritura o ejecución activados.
    </p>

  </section>

  <section>
    <h1>Otras opciones</h1>

    <p></p>
    <!-- TODO Usar ands y ors, exec, directorios vacios -->
  </section>
</main>