.outline {
    fill: url(#controller-background);
    stroke: #000;
    stroke-width: 2;
}

.text {
    cursor: pointer;
    font-family: monospace;
    font-size: 1.2em;
    text-anchor: middle;
}

.controller-button {
    cursor: pointer;

    &--next {
        fill: #bfb;
        stroke: #0a0;
        stroke-width: 3;
    }

    &--error {
        fill: #fbb;
        stroke: #d00;
        stroke-width: 3;
    }

    &--complete {
        fill: #ffeeaa;
        stroke: #ffdd00;
        stroke-width: 3;
    }

    &--disabled {
        fill: #cecece;
        stroke: #8c8c8c;
        stroke-width: 3;
    }
}
