<div class="left-menu">
  <div class="collapsable-link" *ngIf="isSmallerThanDesktop" (click)="collapse()">Contenido</div>
  <nav class="links" [ngClass]="{'links--collapsed': linksCollapsed}">
    <a [routerLink]="['/observable']" routerLinkActive="menu-section-active">observable</a>
    <a [routerLink]="['/mergeMap']" routerLinkActive="menu-section-active">mergeMap</a>
    <a [routerLink]="['/concatMap']" routerLinkActive="menu-section-active">concatMap</a>
    <a [routerLink]="['/switchMap']" routerLinkActive="menu-section-active">switchMap</a>
    <a [routerLink]="['/exhaustMap']" routerLinkActive="menu-section-active">exhaustMap</a>
    <a [routerLink]="['/combineLatestWith']" routerLinkActive="menu-section-active">combineLatestWith</a>
    <a [routerLink]="['/forkJoin']" routerLinkActive="menu-section-active">forkJoin</a>
    <a [routerLink]="['/startWith']" routerLinkActive="menu-section-active">startWith</a>
    <a [routerLink]="['/endWith']" routerLinkActive="menu-section-active">endWith</a>
    <a [routerLink]="['/debounceTime']" routerLinkActive="menu-section-active">debounceTime</a>
    <a [routerLink]="['/sampleTime']" routerLinkActive="menu-section-active">sampleTime</a>
    <a [routerLink]="['/auditTime']" routerLinkActive="menu-section-active">auditTime</a>
    <a [routerLink]="['/distinctUntilChanged']" routerLinkActive="menu-section-active">distinctUntilChanged</a>
    <a [routerLink]="['/skip']" routerLinkActive="menu-section-active">skip</a>
    <a [routerLink]="['/first']" routerLinkActive="menu-section-active">first</a>
    <a [routerLink]="['/take']" routerLinkActive="menu-section-active">take</a>
    <a [routerLink]="['/takeUntil']" routerLinkActive="menu-section-active">takeUntil</a>
    <a [routerLink]="['/filter']" routerLinkActive="menu-section-active">filter</a>
    <a [routerLink]="['/takeWhile']" routerLinkActive="menu-section-active">takeWhile</a>
    <a [routerLink]="['/distinct']" routerLinkActive="menu-section-active">distinct</a>
  </nav>
</div>

<div class="pages">
  <router-outlet></router-outlet>
</div>