$figure-size: 200px;

:host {
    display: block;
}

.intro {
    height: 98vh;
    display: flex;
    flex-direction: column;
    position: relative;

    .figure-and-title {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        gap: 50px;
        background-color: #3333ff;

        .figure__picture {
            cursor: pointer;
            width: $figure-size;
            height: $figure-size;
            user-select: none;
            border-radius: 50%;
            border: 5px solid #d17515;
            background-color: #fcfcfc;
            box-shadow: 0 0 20px #fcfcfc;

            &__img {
                border-radius: 50%;
            }
        }

        .title {
            color: #fcfcfc;
            font-size: 3.8em;
            margin: 0 50px 0;
        }
    }

    .waves {
        position: relative;
        top: -1px; // avoids small border line flashing
        z-index: -1;
        background-color: #fcfcfc;
        fill: #3333ff;
        display: block;

        path {
            transition: 2s linear;
        }
    }
}

.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #fcfcfc;

    .title {
        text-align: center;
        font-size: 4em;
    }

    .presentation {
        display: flex;
        align-items: center;
        gap: 30px;
        max-width: 850px;
        margin: 0 auto;
        font-size: 1.15em;

        .my-trayectory-link {
            border: none;
            background-color: #d17515;
            color: #fbf2e2;
            padding: 9px;
            border-radius: 4px;
            font-size: 1.5rem;
            box-shadow: 3px 3px 5px #cec9c1;
            flex-shrink: 0;
            text-decoration: none;

            &:active {
                transform: translateX(1px) translateY(2px);
                box-shadow: 2px 1px 5px #cec9c1;
            }
        }
    }
}

@media (max-width: 1200px) {
    .intro {
        .figure-and-title {
            gap: 20px;

            .title {
                font-size: 3em;
            }
        }
    }
}

@media (max-width: 991px) {
    .intro {
        .figure-and-title {
            flex-direction: column;

            .figure__picture {
                cursor: default;
            }

            .title {
                text-align: center;
            }
        }
    }
}
