<section class="intro">
  <div class="figure-and-title">
    <figure class="figure" [@rotateProfilePicture]="stateRotateProfilePicture"
      (@rotateProfilePicture.done)="allowRotateProfilePicture = true">
      <div class="figure__picture" (click)="changeProfilePicture()">
        <img [src]="profilePictures[profilePictureIndex]" alt="foto perfil" class="figure__picture__img">
      </div>
    </figure>

    <h1 class="title">
      Jaime
      <br>
      Ingeniero informático
    </h1>
  </div>

  <svg class="waves" [attr.viewBox]="waveViewBox">
    <path [attr.d]="wavePath"></path>
  </svg>
</section>