<section class="intro">
  <div class="figure-and-title">
    <figure class="figure" [@rotateProfilePicture]="stateRotateProfilePicture"
      (@rotateProfilePicture.done)="allowRotateProfilePicture = true">
      <div class="figure__picture" (click)="changeProfilePicture()">
        <img [src]="profilePictures[profilePictureIndex]" alt="foto perfil" class="figure__picture__img">
      </div>
    </figure>

    <h1 class="title">
      Jaime
      <br>
      Ingeniero informático
    </h1>
  </div>

  <svg class="waves" [attr.viewBox]="waveViewBox">
    <path [attr.d]="wavePath"></path>
  </svg>
</section>

<section class="about-me">
  <h1 class="title">Sobre mí</h1>

  <div class="presentation">
    <div class="intro-text">
      <p>
        Hola 👋
      </p>

      <p>
        Me llamo Jaime, tengo {{years}} años y soy ingeniero informático.
      </p>

      <p>
        Desde que empecé la carrera en la universidad de Salamanca programar y desarrollar es algo que me apasiona.
      </p>

      <p>
        Por eso he decidido aventurarme con este sitio web, para aprender y compartir mi experiencia.
      </p>
    </div>

    <a class="my-trayectory-link" routerLink="mi-trayectoria">Ver trayectoria 📚</a>
  </div>
</section>

<section class="technologies">
  <h1 class="title">Tecnologías</h1>

  <div class="tech-list">
    <div class="tech">
      <svg appHtmlLogoSvg viewBox="0 0 100 100"></svg>
      <span>Html 5</span>
    </div>

    <div class="tech">
      <svg appCssLogoSvg viewBox="0 0 100 100"></svg>
      <span>Css 3</span>
    </div>

    <div class="tech">
      <svg appJavascriptLogoSvg viewBox="0 0 100 100"></svg>
      <span>Javascript</span>
    </div>

    <div class="tech">
      <svg appAngularLogoSvg viewBox="0 0 100 100"></svg>
      <span>Angular</span>
    </div>

    <div class="tech">
      <svg appJavaLogoSvg viewBox="0 0 100 100"></svg>
      <span>Java</span>
    </div>

    <div class="tech">
      <svg appSpringBootLogoSvg viewBox="0 0 100 100"></svg>
      <span>Spring boot</span>
    </div>

    <div class="tech">
      <svg appGitLogoSvg viewBox="0 0 100 100"></svg>
      <span>Git</span>
    </div>

    <div class="tech">
      <svg appDockerLogoSvg viewBox="0 0 100 100"></svg>
      <span>Docker</span>
    </div>

    <div class="tech">
      <svg appKubernetesLogoSvg viewBox="0 0 100 100"></svg>
      <span>Kubernetes</span>
    </div>
  </div>
</section>

<section class="learning">
  <h1 class="title">Aprender</h1>

  <div class="tiles-container">
    <a routerLink="comprende-rxjs" class="tile">Rxjs</a>

    <a routerLink="redes/dns" class="tile"><span>Redes</span><span>Servicio DNS</span></a>

    <a class="tile tile--disabled"><span>...</span><span>Más en el porvenir</span></a>
  </div>
</section>

<footer class="contact">
  <div class="contact-list">
    <!-- linkedin -->
    <svg appLinkedInLogoSvg viewBox="0 0 100 100"></svg>
    <a class="linked-in" href="https://www.linkedin.com/in/jaime-mart%C3%ADn-mart%C3%ADn-2a298016b/">Linked in</a>

    <!-- github -->
    <svg appGithubLogoSvg viewBox="0 0 100 100"></svg>
    <a class="github" href="https://github.com/jaimemartinmartin15">Github</a>

    <!-- gmail -->
    <svg appGmailLogoSvg viewBox="0 0 100 100"></svg>
    <address>
      <a class="email" href="mailto:jaimemartinmartin15@gmail.com">jaimemartinmartin15@gmail.com</a>
    </address>
  </div>
</footer>