<div class="app-profile-intro">
  <div class="app-profile">
    <figure class="figure">
      <img src="assets/profile.png" alt="foto perfil" class="figure__picture">
      <figcaption class="figure__caption">Jaime, el ingeniero</figcaption>
    </figure>
  </div>

  <div class="app-intro">
    <div class="app-intro__inner-wrapper">
      <p>
        Hola 👋
      </p>

      <p>
        Me llamo Jaime, tengo {{years}} años y soy ingeniero informático.
      </p>

      <p>
        Desde que empecé la carrera en la universidad de Salamanca programar y desarrollar es algo que me apasiona.
      </p>

      <p>
        Por eso he decidido aventurarme con este sitio web, para aprender y compartir mi experiencia.
      </p>

      <div class="app-trayectory">
        <button class="app-trayectory__button" (click)="goToMyTrayectory()">Ver trayectoria 📚</button>
      </div>
    </div>
  </div>
</div>