$figure-size: 200px;

:host {
    display: block;
}

.intro {
    height: 98vh;
    display: flex;
    flex-direction: column;
    position: relative;

    .figure-and-title {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        gap: 50px;
        background-color: #3333ff;

        .figure__picture {
            cursor: pointer;
            width: $figure-size;
            height: $figure-size;
            user-select: none;
            border-radius: 50%;
            border: 5px solid #d17515;
            background-color: white;
            box-shadow: 0 0 20px white;

            &__img {
                border-radius: 50%;
            }
        }

        .title {
            color: white;
            font-size: 3.8em;
        }
    }

    .waves {
        position: relative;
        top: -1px; // avoids small border line flashing
        background-color: white;
        fill: #3333ff;
        display: block;

        path {
            transition: 2s linear;
        }
    }
}
