:host {
    display: block;
}

.app-profile-intro {
    .app-profile {
        background-color: #3333ff;
        padding: 35px 0 0;
        margin: 0;
        text-align: center;

        .figure {
            margin: 0;

            &__picture {
                margin: auto;
                width: 170px;
                height: 170px;
                border-radius: 50%;
                border: 5px solid #d17515;
                background-color: white;

                &__img {
                    width: 170px;
                    border-radius: 50%;
                }
            }

            &__caption {
                margin-top: 20px;
                padding-bottom: 30px;
                color: white;
                font-size: small;
                font-style: oblique;
            }
        }

        .wave {
            background-color: white;
            fill: #3333ff;
            display: block;

            path {
                transition: 1s linear;
            }
        }
    }

    .app-intro {
        display: flex;
        align-items: center;

        &__inner-wrapper {
            margin: 16px 25px;

            .app-trayectory {
                text-align: center;
                margin: 35px 0;

                &__button {
                    border: none;
                    background-color: #d17515;
                    color: #fbf2e2;
                    padding: 9px;
                    border-radius: 4px;
                    font-size: x-large;
                    box-shadow: 3px 3px 5px #cec9c1;
                    cursor: pointer;

                    &:active {
                        transform: translateX(1px) translateY(2px);
                        box-shadow: 2px 1px 5px #cec9c1;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    :host {
        max-width: 1200px;
        margin: 0 auto;
    }

    .app-profile-intro {
        display: flex;
        justify-content: center;

        .app-profile {
            flex: 45;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .figure {
                margin-right: 65px;
            }
        }

        .app-intro {
            flex: 55;

            &__inner-wrapper {
                margin: 0 0 0 45px;
                max-width: 580px;

                .app-trayectory {
                    text-align: left;
                    margin-bottom: 16px;
                }
            }
        }
    }
}
