:host {
    display: block;
    padding: 10px 20px 20px 20px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(
        180deg,
        #f2f2f2 0%,
        #f2f2f2 70%,
        #ffffff 100%
    );
}

@media (max-width: 992px) {
    :host {
        font-size: 0.85em;
    }
}
