<app-header-print [data]="headerPrintData"></app-header-print>

<main>
  <h1 class="title">SQL</h1>

  <section>
    <h2>Introducción</h2>

    <p>
      Para empezar, SQL son las siglas de <strong>Structured Query Language</strong>, que en español significa
      <i>Lenguaje de consultas estructurado</i>. Es un lenguaje y sirve para realizar consultas a bases de datos
      relacionales. Resumiéndolo mucho, una base de datos relacional son varias tablas, con sus filas y sus columnas,
      relacionadas
      entre
      sí.
    </p>

    <p>
      Este lenguaje es un estándar, por lo que pueden existir diferentes implementaciones o también llamados dialectos
      que pueden diferir entre sí con elementos que no están en el estándar. Ejemplos son las implementaciones de
      Oracle, Microsoft, MySQL o PostgreSQL.
    </p>

    <p>
      Como todo lenguaje tiene su sintaxis y sus palabras reservadas, y es lo que vamos a ver a continuación. Vamos
      derecho a ello.
    </p>
  </section>
</main>