@import "../shared/styles/rxjs-shared-styles";

:host {
    display: block;
    flex-grow: 1;
}

.next {
    color: #0a0;
}

.error {
    color: #ce4545;
}

.complete {
    color: #b2a366;
}

.demo-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 2%;

    .conveyor-controller {
        min-width: 24%;
        margin-bottom: 4%;
    }

    .conveyor {
        min-width: 48%;
        margin-bottom: 1%;
    }

    .subscriber {
        min-width: 24%;
    }
}
