<h1 class="screen-title">Observable</h1>

<p>
    ¿Qué es un Observable? Vamos a explicar que es un Observable con manzanas 🍎.
</p>

<p>
    Imagínate que un Observable es una cinta transportadora que emite manzanas (datos). Tú te pones al final llamando al
    método subscribe y le pasas una callback (next), una callback (error) y una callback (complete) que se invocan
    cuando la manzana llega al final (next), cuando una manzana viene pocha (error), o cuando la cinta se para
    (complete).
</p>

<p>
    Entre medias (el pipe) estan los operadores, que pueden manipular esas manzanas.
</p>