<form class="content" (submit)="onConfirm()">
  <div cdkDropList (cdkDropListDropped)="onReorderingPlayer($event)" class="players-list">
    <div cdkDrag cdkDragPreviewContainer="parent" class="player-item"
      *ngFor="let player of players; let i = index; trackBy: trackByPlayerIndex">
      <div *cdkDragPlaceholder></div>

      <label cdkDragHandle><strong>Jugador {{i+1}}</strong></label>

      <br>

      <div class="player-controls">
        <input #input type="text" name="player{{i}}" [(ngModel)]="players[i]">

        <div class="delete-icon" (click)="deletePlayer(i, $event)" *ngIf="this.players.length > 1"></div>
      </div>
    </div>
  </div>

  <button type="button" class="new-player-button" (click)="addPlayer()">Nuevo jugador</button>

  <button type="submit" class="confirm-button" [disabled]="!playersAreEntered()">Confirmar</button>
</form>