<ng-container *ngIf="playersService.players == null || playersService.nextRoundNumber === 1">
  Introduce al menos una ronda para mostrar la tabla de puntuaciones
</ng-container>

<table *ngIf="playersService.players != null && playersService.nextRoundNumber > 1">
  <thead class="sticky-header">
    <tr>
      <th class="highlight-cell sticky-round-number">Ronda</th>
      <th class="highlight-cell" *ngFor="let player of playersService.playersSortedBy('id')">{{player.name}}</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let round of getRoundsNumberAsArray()">
      <th class="highlight-cell sticky-round-number" (click)="enterRound.emit(round-1)">{{round}}</th>
      <td *ngFor="let score of getRoundScores(round-1); let j = index"
        (click)="enterPunctuationForRoundAndPlayer.emit({round: round-1, player: j})"
        [attr.style]="getBackgroundColor(score)">
        <div class="score">
          <span style="visibility: hidden" class="accumulated-score">
            ({{playersService.playersSortedBy('id')[j].accumulatedScores[round]}})
          </span>
          {{score}}
          <span class="accumulated-score">
            ({{playersService.playersSortedBy('id')[j].accumulatedScores[round]}})
  
          </span>
        </div>
      </td>
    </tr>
  </tbody>

  <tfoot class="sticky-footer">
    <tr>
      <th class="highlight-cell sticky-round-number">Total</th>
      <th class="highlight-cell" *ngFor="let player of playersService.playersSortedBy('id')">{{player.totalScore}}</th>
    </tr>
  </tfoot>
</table>