$external-margin: 15px;

:host {
    display: block;
    position: fixed;
    background-color: #3333ffdb;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.content {
    position: fixed;
    top: $external-margin;
    right: $external-margin;
    bottom: $external-margin;
    left: $external-margin;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    border: 3px solid #d17515;
    border-radius: 5px;
    background-color: white;
    padding: 15px;

    .number-of-rounds,
    .number-of-players {
        margin-top: 30px;
        font-size: 1.5em;

        input {
            display: inline-block;
            border: none;
            border-bottom: 2px solid black;
            outline: none;
            font-size: 1em;
            margin-top: 15px;
            width: 20%;
            text-align: center;

            &:focus {
                border-bottom: 3px solid black;
            }
        }
    }

    .confirm-button {
        border: none;
        background-color: #d17515;
        color: #fbf2e2;
        padding: 9px;
        border-radius: 4px;
        font-size: 1.5rem;
        box-shadow: 3px 3px 5px #cec9c1;
        margin-top: 60px;

        &:active {
            transform: translateX(1px) translateY(2px);
            box-shadow: 2px 1px 5px #cec9c1;
        }
    }
}
