<form class="content" (submit)="onConfirm()">
  <label class="number-of-players">
    Número de jugadores
    <br>
    <input type="number" name="number-of-players" [ngModel]="4" (ngModelChange)="onNumberOfPlayersChange($event)">
  </label>

  <div class="players-container">
    <label class="player-name" *ngFor="let player of players; let i = index; trackBy: trackByPlayerInputs">
      Jugador {{i+1}}
      <br>
      <input type="text" name="player{{i}}" [(ngModel)]="players[i]">
    </label>
  </div>

  <label class="number-of-rounds">
    Número de rondas
    <br>
    <input type="number" name="number-of-rounds" [(ngModel)]="numberOfRounds">
  </label>

  <button type="submit" class="confirm-button">Confirmar</button>
</form>