<div class="page-header">
  <h1 class="title">EndWith</h1>
  <a class="link-rxjs" href="https://rxjs.dev/api/operators/endWith" target="_blank" rel="noopener">rxjs endWith ➡️</a>
</div>

<p>
  Este operador emite inmediatamente un nuevo elemento en el pipe del Observable justo antes de que complete.
</p>

<textarea highlight-js [lang]="'typescript'">
import { Observable, endWith } from 'rxjs';

new Observable<string>((subscriber) => {
  subscriber.next('🍌');
  subscriber.next('🍎');
  subscriber.complete();
})
.pipe(endWith('🍇'))
.subscribe({
  next: (value) => console.log(`The next value is: ${value}`),
  error: (error) => console.error(`There is an error: ${error}`),
  complete: () => console.log('Completed'),
});

// Output
// ======
// The next value is: 🍌
// The next value is: 🍎
// The next value is: 🍇
// Completed
</textarea>

<p>
  El ejemplo es muy sencillo de explicar. Primero se emite el 🍌, luego la 🍎 y por último completa. Pero antes de
  emitir el evento de complete, justo antes, el operador emite las 🍇 y luego entonces ya si se emite el evento de
  complete.
</p>

<p>
  Si lo que se emite es un error, el operador no emite su evento.
</p>

<p>Pruébalo en esta demo donde se emitirá una 🍐 antes de completar:</p>

<svg appDemoContainer viewBox="0 0 640 240">
  <g transform="translate(30, 80)" appConveyorController [button1]="controllerButtons[MAIN_ID][0]"
    [button2]="controllerButtons[MAIN_ID][1]" [button3]="controllerButtons[MAIN_ID][2]"
    [button4]="controllerButtons[MAIN_ID][3]" [button5]="controllerButtons[MAIN_ID][4]"
    (onButtonClick)="onControllerButtonClick($event)">
  </g>

  <g transform="translate(220, 80)" appConveyorHorizontal [conveyorWorking$]="conveyorsWorking[MAIN_ID]"
    [length]="250.8">
  </g>

  <g appOperator transform="translate(295, 45)"></g>

  <g transform="translate(496, 20)" appSubscriber [showSpeechBubble$]="speechBubble$"
    (onSubscribe$)="onSubscribe($event)">
  </g>

  <g>
    <text *ngFor="let element of elementsInConveyor" [attr.x]="element.x" y="136">{{element.value}}</text>
  </g>
</svg>