<div class="left-menu">
  <div class="collapsable-link" *ngIf="isSmallerThanDesktop" (click)="collapse()">Contenido</div>
  <nav class="links" [ngClass]="{'links--collapsed': linksCollapsed}">
    <a [routerLink]="['/comprende-rxjs/observable']" routerLinkActive="menu-section-active">observable</a>
    <a [routerLink]="['/comprende-rxjs/mergeMap']" routerLinkActive="menu-section-active">mergeMap</a>
    <a [routerLink]="['/comprende-rxjs/concatMap']" routerLinkActive="menu-section-active">concatMap</a>
    <a [routerLink]="['/comprende-rxjs/switchMap']" routerLinkActive="menu-section-active">switchMap</a>
    <a [routerLink]="['/comprende-rxjs/exhaustMap']" routerLinkActive="menu-section-active">exhaustMap</a>
    <a [routerLink]="['/comprende-rxjs/combineLatestWith']" routerLinkActive="menu-section-active">combineLatestWith</a>
    <a [routerLink]="['/comprende-rxjs/forkJoin']" routerLinkActive="menu-section-active">forkJoin</a>
    <a [routerLink]="['/comprende-rxjs/startWith']" routerLinkActive="menu-section-active">startWith</a>
    <a [routerLink]="['/comprende-rxjs/endWith']" routerLinkActive="menu-section-active">endWith</a>
  </nav>
</div>

<div class="pages">
  <router-outlet></router-outlet>
</div>