:host {
    display: flex;
    max-width: 1200px;
    margin: auto;
    height: 100%;
    padding-bottom: 65px;
}

.left-menu {
    margin: 30px 50px 20px 20px;

    .links {
        display: flex;
        flex-direction: column;

        a {
            margin: 30px 0 0 0;
            text-decoration: none;
            color: black;
            transition: 0.5s;

            &:hover:not(.menu-section-active) {
                font-size: 1.1em;
            }
        }

        .menu-section-active {
            color: #d17515;
            font-size: 1.3em;
        }
    }
}

.pages {
    flex-grow: 1;
}

@media (max-width: 1200px) {
    :host {
        display: block;
    }

    .left-menu {
        .collapsable-link {
            cursor: pointer;
            text-decoration: underline;
        }

        .links {
            margin-left: 10px;
            max-height: 421px; // updated by schematic (do not remove this comment)
            transition: 0.6s;
            overflow-y: hidden;

            &--collapsed {
                max-height: 0;
            }
        }
    }

    .pages {
        padding: 0 20px;
    }
}
