:host {
  display: block;
}

.top-header {
  background-color: rgb(255, 117, 117);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: yellow;

  .flex-content-header {
    background-color: rgb(175, 196, 246);
  }

  .flex-content {
    display: flex;
    justify-content: center;

    .left-menu {
      width: 250px;
      flex-shrink: 0;

      background-color: gainsboro;
    }

    .main-content {
      width: 800px;

      background-color: rgb(188, 188, 255);

      .content-header {
        background-color: azure;
      }

      .content-content {
        padding: 20px;
      }

      .content-footer {
        background-color: aquamarine;
      }
    }

    .right-menu {
      width: 250px;
      flex-shrink: 0;

      background-color: bisque;
    }
  }

  .flex-content-footer {
    background-color: coral;
  }
}

.bottom-footer {
  background-color: rgb(162, 238, 162);
}

// 1300 = 250 (left menu) + 800 (content) + 250 (right menu)
@media (max-width: 1300px) {
  .content {
    .flex-content {
      .main-content {
        flex-grow: 1;
        width: unset; //make main content flexible width
      }
    }
  }
}

// 1150 = 250 (left menu) + xxx (content)
// right menu is hidden
@media (max-width: 1150px) {
  .content {
    .flex-content {
      .main-content {
        width: 800px; //make main content fixed width again
      }
    }
  }
}

// 1050 = 250 (left menu) + 800 (content)
@media (max-width: 1050px) {
  .content {
    .flex-content {
      .main-content {
        width: unset; //make main content flexible width
      }
    }
  }
}

// 900 = xxx (content)
// left menu is hidden
