:host {
  display: block;
}

.top-header {
  background-color: rgb(255, 117, 117);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: yellow;

  div:first-child {
    max-width: 100%;
  }

  .flex-content-header {
    background-color: rgb(175, 196, 246);
  }

  .flex-content {
    display: flex;
    justify-content: center;

    .left-menu {
      padding-left: 20px;
      width: 250px;
      flex-shrink: 0;

      background-color: gainsboro;
    }

    .main-content {
      flex-grow: 1;
      max-width: 900px;
      min-width: 0; // fix issue with pre and flex-box

      background-color: rgb(188, 188, 255);

      .content-header {
        background-color: azure;
      }

      .content-content {
        padding: 20px;
      }

      .content-footer {
        background-color: aquamarine;
      }
    }

    .right-menu {
      width: 250px;
      flex-shrink: 0;

      background-color: bisque;
    }
  }

  .flex-content-footer {
    background-color: coral;
  }
}

.bottom-footer {
  background-color: rgb(162, 238, 162);
}
