<!-- Restart game pop up -->
<app-restart-game-pop-up (confirmation)="onConfirmRestartGame($event)" *ngIf="showRestartGamePopUp">
</app-restart-game-pop-up>

<!-- Start game pop up -->
<app-start-game-pop-up (confirm)="prepareRanking($event)" *ngIf="showStartGamePopUp"></app-start-game-pop-up>

<!-- Enter round pop up -->
<app-next-round-pop-up *ngIf="showNewRoundPopUp" [nextRoundPopUpInput]="nextRoundPopUpInput"
    (nextRoundPopUpOutput)="onResultNewRound($event)"></app-next-round-pop-up>

<!-- Ranking view -->
<app-ranking class="screen-view" *ngIf="showView === 'ranking'" [players]="players"></app-ranking>

<!-- Table view -->
<app-scoreboard class="screen-view" *ngIf="showView === 'table'" [players]="players" (enterRound)="enterRound($event)"
    (enterPunctuationForRoundAndPlayer)="enterPunctuationForRoundAndPlayer($event)"></app-scoreboard>

<!-- Bottom menu -->
<div class="menu">
    <button>Juego nuevo</button>
    <button>Estadísticas</button>
    <button>
        <span (click)="showRankingView()" *ngIf="showView === 'table'">Ver ranking</span>
        <span (click)="showTableView()" *ngIf="showView === 'ranking'">Ver tabla</span>
    </button>
    <button (click)="enterNewRound()">Nueva ronda</button>
</div>