<!-- Restart game pop up -->
<app-restart-game-pop-up (confirmation)="onConfirmIfRestartGame($event)" *ngIf="showRestartGamePopUp">
</app-restart-game-pop-up>

<!-- Start game pop up -->
<app-start-game-pop-up (confirm)="onConfirmStartGame($event)" *ngIf="showStartGamePopUp"></app-start-game-pop-up>

<!-- Enter round pop up -->
<app-next-round-pop-up *ngIf="showNewRoundPopUp" [nextRoundPopUpInput]="nextRoundPopUpInput"
    (nextRoundPopUpOutput)="onResultNewRound($event)"></app-next-round-pop-up>

<!-- Load new game pop up -->
<app-load-new-game-pop-up *ngIf="showLoadNewGamePopUp" (confirmation)="loadNewGame($event)">
</app-load-new-game-pop-up>



<!-- Ranking view -->
<app-ranking class="screen-view" *ngIf="showView === 'ranking'"></app-ranking>

<!-- Table view -->
<app-scoreboard class="screen-view" *ngIf="showView === 'table'" (enterRound)="enterRound($event)"
    (enterPunctuationForRoundAndPlayer)="enterPunctuationForRoundAndPlayer($event)"></app-scoreboard>

<!-- Statistics view -->
<app-statistics class="screen-view" *ngIf="showView === 'statistics'"></app-statistics>



<!-- Bottom menu -->
<div class="menu">
    <button (click)="showLoadNewGamePopUp = true">Juego nuevo</button>
    <button>
        <span (click)="showStatisticsView()" *ngIf="showView === 'table'">Estadísticas</span>
        <span (click)="showTableView()" *ngIf="showView === 'ranking'">Ver tabla</span>
        <span (click)="showRankingView()" *ngIf="showView === 'statistics'">Ver ranking</span>
    </button>
    <button (click)="enterNewRound()">Nueva ronda</button>
</div>