<p>
  El registro HINFO proporcina <strong>información general sobre una máquina</strong>. Significa Host Information. El
  formato del registro es el siguiente:
</p>

<pre>
  &lt;máquina&gt;   [&lt;ttl&gt;] [&lt;clase&gt;]   HINFO   &lt;hardware&gt;  &lt;software&gt;  
</pre>

<dl>
  <dt>máquina</dt>
  <dd>Es el nombre de la máquina de la que queremos extraer la información.</dd>

  <dt>hardware</dt>
  <dd>Indica el hardware que tiene la máquina. Suele ser el nombre del fabricante seguido de un guión y el modelo.</dd>

  <dt>software</dt>
  <dd>Especifica el sistema operativo que corre la máquina.</dd>
</dl>