<p class="intro-text">
  Esta es mi carrera profesional hasta hoy. Echa un vistazo 👀:
</p>

<app-trayectory-panel class="panel">
  <span title>Cognizant</span>
  <span date>agosto de 2020 - septiembre de 2022</span>
  <span position>Desarrolador full stack</span>
  <div description>
    <p>
      Desarrollo de una gran aplicación del sector de los negocios 🤝 en angular compuesta
      por varios repositorios y librerías compartidas. 💯
    </p>
    <p>
      Desarrollo con java y spring boot de una capa intermedia entre el frontend y el backend
      que añade seguridad ㊙️ y facilidad de tratamiento de los datos.
    </p>
  </div>
</app-trayectory-panel>

<app-trayectory-panel class="panel">
  <span title>Cognizant</span>
  <span date>junio de 2020 - julio de 2020</span>
  <span position>Desarrolador frontend</span>
  <div description>
    <p>
      Análisis funcional de una aplicación frontend relacionada con las finanzas 💸
      y su implementación en angular.
    </p>
  </div>
</app-trayectory-panel>

<app-trayectory-panel class="panel">
  <span title>Cognizant</span>
  <span date>junio de 2019 - mayo de 2020</span>
  <span position>Desarrolador frontend</span>
  <div description>
    <p>
      Desarrollo de aplicaciones para diferentes dispositivos relacionadas con
      los seguros de la casa 🏠, la familia 👪 y el coche 🚗 en angular.
    </p>
  </div>
</app-trayectory-panel>

<app-trayectory-panel class="panel">
  <span title>Cognizant</span>
  <span date>octubre de 2018 - mayo de 2019</span>
  <span position>Desarrollador junior</span>
  <div description>
    <p>
      Realización de diversos cursos 👨‍🎓 entre ellos: git, html, css, javascript, angular y java.
    </p>
    <p>
      Miniproyecto para gestionar incidentes dentro de la empresa
      y desmostar nuestro aprendizaje. 📈
    </p>
  </div>
</app-trayectory-panel>

<app-trayectory-panel class="panel">
  <span title>Trabajo de fin de grado</span>
  <span date>febrero de 2018 - julio de 2018</span>
  <span position>Estudiante en la universidad de Salamanca</span>
  <div description>
    <p>
      OMR (optical mark recognition) software 👁️‍🗨️ para la correción automática de exámenes 📝 tipo test a través de
      plantillas
      configuradas.
    </p>
    <p>
      Realizado con java y la librería de visión artificial OpenCV.
    </p>
  </div>
</app-trayectory-panel>

<app-trayectory-panel class="panel">
  <span title>Arsoft</span>
  <span date>febrero de 2018 - mayo de 2018</span>
  <span position>Estudiante de prácticas externas</span>
  <div description>
    <p>
      Desarrollo de aplicaciones con fines didácticos 👨‍🏫 en el entorno industrial ⚙️
      con realidad aumentada y realidad virtual.
    </p>
  </div>
</app-trayectory-panel>

<app-trayectory-panel class="panel">
  <span title>Grado en ingeniería informática</span>
  <span date>septiembre de 2014 - julio de 2018</span>
  <span position>Estudiante en la universidad de Salamanca</span>
  <div description>
    <p>
      Nota media de 8️⃣.8️⃣8️⃣ y segundo 🥈 mejor de mi promoción.
    </p>
    <p>
      Premio 🏆 extraordinario de grado.
    </p>
  </div>
</app-trayectory-panel>

<app-trayectory-panel class="panel">
  <span title>Bachillerato de ciencias y tecnología</span>
  <span date>septiembre de 2012 - junio de 2014</span>
  <span position>Estudiante en el instituto Martínez Uribarri de Salamanca</span>
  <div description>
    <p>
      Aquí ya sabía que la tecnología me gustaba. 😉
    </p>
  </div>
</app-trayectory-panel>