<h1 class="title">El DNS</h1>

<section>
  <h2>Introducción</h2>

  <p>
    Quizá hayas oído hablar de él o quizá no, pero en este artículo voy a explicar lo más detallado posible en que
    consite el DNS (del inglés Domain Name System, que en español significa <strong>Sistema de Nombres de
      Dominio</strong>). Es un servicio en internet que se utiliza constantemente sin que te des cuenta.
  </p>

  <p>
    Entonces, <strong>¿qué es un nombre de dominio?</strong> Seguramente te suene google.com, o amazon.com o
    jaimeelingeniero.es. Esto son nombres de dominio. Cuidado, no son páginas web. Las páginas web son recursos bajo
    estos dominios. Un nombre de dominio es una forma fácil de acordarte de algo. ¿Pero de qué?
  </p>

  <p>
    Todos los dispositivos que están conectados a internet tienen una <strong>dirección IP</strong>. Una dirección IP es
    un número que tiene esta forma 123.256.123.256 o esta otra 2001:05dh:ab52:0000:0000:ef48:0240:ffff, y haciendo una
    similitud es como la dirección exacta de una casa, pero en este caso del dispositivo.
  </p>

  <p>
    El servicio DNS se encarga de <strong>traducir</strong> el nombre de domino en una IP. Recordar un nombre de dominio
    es mucho más fácil que recordar la IP. ¿A que para tí es más facil quedar con alguien en la puerta del colegio
    que en la calle Palma, número 4, 08504? Pues 'el colegio' sería el nombre de dominio, y 'calle Palma, número 4,
    08504' sería la IP.
  </p>

  <p>
    Una vez nuestro dispositivo consulta al servidor DNS la IP del dominio que pedimos, ya podemos ir allí y pedir lo
    que estamos buscando. En el caso de la página web, pues habría que conectarse al puerto 80, que haciendo otra
    similitud, sería como llamar a una puerta específica de un edificio en la que nos puedan atender para lo que vamos.
  </p>
</section>

<section>
  <h2>Definiciones</h2>

  <p>Antes de empezar a entrar en detalles, vamos a definir algunas cosas.</p>

  <dl>
    <dt>Host name:</dt>
    <dd>
      Es el nombre de una máquina o dispositivo dentro de una red. El nombre que le das a tu móvil u ordenador, por
      ejemplo. El más común en la web es www.
    </dd>

    <dt>
      Domain name:
    </dt>
    <dd>
      Los nombres de dominio identifican la red donde se conectan los dispositivos. Por ejemplo el nombre de dominio
      jaimeelingeniero.es tiene conectado un "ordenador" con nombre www que sirve esta página.
    </dd>

    <dt>
      Fully qualified host name (FQHN):
    </dt>
    <dd>
      Es el nombre de la máquina completo, incluyendo la red donde está. Es decir, es el nombre de la máquina más el
      nombre del dominio. Por ejemplo: www.jaimeelingeniero.es
    </dd>

    <dt>
      Top level domains (TLD):
    </dt>
    <dd>
      Los nombres de dominio pueden estar compuestos de varias palabras separadas por puntos. Los nombres de dominio
      superiores son la última palabra del dominio. Por ejemplo .es, .com, .edu, etc.
      <br>
      Estos a su vez se separan en categorías dependiendo del uso:
      <ul>
        <li>Genéricos (gTDL). Para albergar contenidos de uso general: .com, .edu, .org, etc.</li>
        <li>Por países (ccTDL). Dependiendo del país: .es, .fr, .uk, etc.</li>
        <li>Adicionales. Usados para otras cosas: .aero, .museum, .travel, etc.</li>
      </ul>
    </dd>

    <dt>
      Second level domain:
    </dt>
    <dd>
      Los dominios de nivel secundario son los que tú eliges para tu página web, por ejemplo. Son cada una de las
      palabras (podrían ser más de una separadas por puntos) entre el nombre de la máquina y el nombre de nivel
      superior. En mi caso sería simplemente jaimeelingeniero.
    </dd>
  </dl>
</section>

<section>
  <h2>Funcionamiento</h2>

  <p>
    El sistema de nombres de dominio tiene muchas funciones, no solo traducir nombres a direcciones IP. Aunque es la más
    común, también puede hacer la resolución inversa, resolver servidores de correo, y en principio guardar cualquier
    dato en forma de objecto (llamado también registro de recurso, RR), de forma que podemos consultarle y nos devolverá
    lo que le pidamos.
  </p>

  <p>
    El DNS es una gran base de datos distribuida (repartida por varios lugares) y que tiene una estructura jeráquica (en
    forma de árbol con ramas). Data de 1984 y está definido en las RFC-1034 y RFC-1035 por Paul Mockapetris.
  </p>

  <div class="dns-scheme">
    <img src="pages-network/dns/assets/dns-scheme.png" alt="Esquema dns">
  </div>

  <p>
    Para que nuestro ordenador pueda acceder al DNS debemos configurar nuestra máquina con las direcciones IP de
    servidores de nombres. Entonces cuando nuestro ordenador quiere resolver una IP lo primero que hace es comprobar un
    fichero que hay en el propio ordenador que puede tener ya la resolución. En este caso no hace falta consultar a
    ningún servidor. Si no la tiene en local entonces pregunta a alguno de los servidores que tiene configurados y el
    servidor ya se encargará de encontrar cual es la IP, quizá preguntado a otros servidores.
  </p>

  <p>
    Los servidores de nombres son aplicaciones corriendo en servidores y que escuchan por el puerto 53. Normalmente las
    comunicaciones se hacen a través de UDP. Cada servidor DNS conoce al menos un servidor DNS raíz y a todos los
    servidores de dominios de nivel inferior. Los servidores raíz conocen las direcciones IP de todos los servidores de
    dominios de primer nivel.
  </p>

  <p>
    Vamos a ver un ejemplo paso a paso para entender que es lo que sucede cuando nuestro ordenador quiere averiguar la
    IP de un dominio:
  </p>

  <div class="dns-resolving-domain">
    <div class="controls">
      <button (click)="dnsResolvingDomainStep = 0">0</button>
      <button (click)="dnsResolvingDomainStep = 1">1</button>
      <button (click)="dnsResolvingDomainStep = 2">2</button>
      <button (click)="dnsResolvingDomainStep = 3">3</button>
      <button (click)="dnsResolvingDomainStep = 4">4</button>
      <button (click)="dnsResolvingDomainStep = 5">5</button>
      <button (click)="dnsResolvingDomainStep = 6">6</button>
      <button (click)="dnsResolvingDomainStep = 7">7</button>
      <button (click)="dnsResolvingDomainStep = 8">8</button>
    </div>

    <div class="explanation" *ngIf="dnsResolvingDomainStep !== 0">
      <div *ngIf="dnsResolvingDomainStep === 1">
        Paso 1:
        <br>
        Primero nuestro ordenador le pregunta al servidor DNS que tiene configurado por la IP de www.jaimeelingeniero.es
      </div>
      <div *ngIf="dnsResolvingDomainStep === 2">
        Paso 2:
        <br>
        El servidor DNS no sabe la IP, porque no es responsable del dominio y no la tiene cacheada, así que pregunta al
        servidor raíz
      </div>
      <div *ngIf="dnsResolvingDomainStep === 3">
        Paso 3:
        <br>
        El servidor raíz tampoco tiene la IP de www.jaimeelingeniero.es, sin embargo, sí que conoce a alguien que
        podría saberla, el servidor DNS .es, y le devuelve su IP para que le contacte
      </div>
      <div *ngIf="dnsResolvingDomainStep === 4">
        Paso 4:
        <br>
        Ahora el servidor DNS pregunta a .es por la IP de www.jaimeelingeniero.es
      </div>
      <div *ngIf="dnsResolvingDomainStep === 5">
        Paso 5:
        <br>
        El servidor DNS .es tampoco tiene la IP que buscamos. Pero sí conoce a otro que podría saberla, el servidor
        jaimeelingeniero.es, y le devuelve su IP para que le contacte
      </div>
      <div *ngIf="dnsResolvingDomainStep === 6">
        Paso 6:
        <br>
        Entonces el servidor DNS ahora pregunta al servidor DNS jaimeelingeniero.es
      </div>
      <div *ngIf="dnsResolvingDomainStep === 7">
        Paso 7:
        <br>
        Ahora resulta que es el responsable del dominio, por lo que le devuelve la IP que nuestro ordenador buscaba
      </div>
      <div *ngIf="dnsResolvingDomainStep === 8">
        Paso 8:
        <br>
        Finalmente el servidor DNS devuelve la IP de www.jaimeelingeniero.es a nuestro ordenador
      </div>
    </div>

    <img [src]="'pages-network/dns/assets/dns-resolving-domain-'+dnsResolvingDomainStep+'.gif'"
      alt="Resolviendo el dominio">
  </div>

  <p>
    Las consultas de los pasos 2, 4 y 6 se llaman <strong>consultas iterativas</strong>. Estas son las consultas que se
    hacen entre servidores para obtener las direcciones de otros servidores de dominios de nivel inferior.
    <br>
    Las consulta del paso 1 se llama <strong>consulta recursiva</strong>. Son las consultas que hacen los clientes a los
    servidores.
  </p>
</section>