<h1 class="title">El DNS</h1>

<section>
  <h2>Introducción</h2>

  <p>
    Quizá hayas oído hablar de él o quizá no, pero en este artículo voy a explicar lo más detallado posible en que
    consite el DNS (del inglés Domain Name System, que en español significa <strong>Sistema de Nombres de
      Dominio</strong>). Es un servicio en internet que se utiliza constantemente sin que te des cuenta.
  </p>

  <p>
    Entonces, <strong>¿qué es un nombre de dominio?</strong> Seguramente te suene google.com, o amazon.com o
    jaimeelingeniero.es. Esto son nombres de dominio. Cuidado, no son páginas web. Las páginas web son recursos bajo
    estos dominios. Un nombre de dominio es una forma fácil de acordarte de algo. ¿Pero de qué?
  </p>

  <p>
    Todos los dispositivos que están conectados a internet tienen una <strong>dirección IP</strong>. Una dirección IP es
    un número que tiene esta forma 123.256.123.256 o esta otra 2001:05dh:ab52:0000:0000:ef48:0240:ffff, y haciendo una
    similitud es como la dirección exacta de una casa, pero en este caso del dispositivo.
  </p>

  <p>
    El servicio DNS se encarga de <strong>traducir</strong> el nombre de domino en una IP. Recordar un nombre de dominio
    es mucho más fácil que recordar la IP. ¿A que para tí es más facil quedar con alguien en la puerta del colegio
    que en la calle Palma, número 4, 08504? Pues 'el colegio' sería el nombre de dominio, y 'calle Palma, número 4,
    08504' sería la IP.
  </p>

  <p>
    Una vez nuestro dispositivo consulta al servidor DNS la IP del dominio que pedimos, ya podemos ir allí y pedir lo
    que estamos buscando. En el caso de la página web, pues habría que conectarse al puerto 80, que haciendo otra
    similitud, sería como llamar a una puerta específica de un edificio en la que nos puedan atender para lo que vamos.
  </p>
</section>

<section>
  <h2>Definiciones</h2>

  <p>Antes de empezar a entrar en detalles, vamos a definir algunas cosas.</p>

  <dl>
    <dt>Host name:</dt>
    <dd>
      Es el nombre de una máquina o dispositivo dentro de una red. El nombre que le das a tu móvil u ordenador, por
      ejemplo. El más común en la web es www.
    </dd>

    <dt>
      Domain name:
    </dt>
    <dd>
      Los nombres de dominio identifican la red donde se conectan los dispositivos. Por ejemplo el nombre de dominio
      jaimeelingeniero.es tiene conectado un "ordenador" con nombre www que sirve esta página.
    </dd>

    <dt>
      Fully qualified host name (FQHN):
    </dt>
    <dd>
      Es el nombre de la máquina completo, incluyendo la red donde está. Es decir, es el nombre de la máquina más el
      nombre del dominio. Por ejemplo: www.jaimeelingeniero.es
    </dd>

    <dt>
      Top level domains (TLD):
    </dt>
    <dd>
      Los nombres de dominio pueden estar compuestos de varias palabras separadas por puntos. Los nombres de dominio
      superiores son la última palabra del dominio. Por ejemplo .es, .com, .edu, etc.
      <br>
      Estos a su vez se separan en categorías dependiendo del uso:
      <ul>
        <li>Genéricos (gTDL). Para albergar contenidos de uso general: .com, .edu, .org, etc.</li>
        <li>Por países (ccTDL). Dependiendo del país: .es, .fr, .uk, etc.</li>
        <li>Adicionales. Usados para otras cosas: .aero, .museum, .travel, etc.</li>
      </ul>
    </dd>

    <dt>
      Second level domain:
    </dt>
    <dd>
      Los dominios de nivel secundario son los que tú eliges para tu página web, por ejemplo. Son cada una de las
      palabras (podrían ser más de una separadas por puntos) entre el nombre de la máquina y el nombre de nivel
      superior. En mi caso sería simplemente jaimeelingeniero.
    </dd>
  </dl>
</section>