<app-header-print></app-header-print>

<main>
  <h1 class="title">Ejercicios con SQL</h1>

  <section>
    <p>
      En esta página vamos a resolver ejercicios sobre consultas SQL a una base de datos. Por aquí te dejo el link que
      <a download href="pages-bbdd/assets/scripts.zip">descarga el zip</a> con los archivos para que cargues la base
      de datos con la misma información que yo. En el zip encontrarás las instrucciones necesarias para cargarlo. Por si
      no lo has visto, también te dejo aquí un link a la <a routerLink="../">página de teoría</a>, en la que explico en
      que consite SQL y como utilizarlo desde cero. Vamos a practicar ⚙️
    </p>
  </section>
</main>