<!-- Pocha config -->
<ng-container *ngIf="gameConfigService.config.name === pochaConfig.name">
  <ng-container *ngIf="playersService.cardsToDealNextRound >= 0">
    <span class="no-break">Ronda: <strong>{{playersService.nextRoundNumber}}</strong></span>
    &nbsp;&nbsp;
    <span class="no-break">Reparte: <strong>{{playersService.playerNameDealsNextRound}}</strong></span>
    &nbsp;&nbsp;
    <span class="no-break">
      Cartas: <strong>{{playersService.cardsToDealNextRound || 1 + ' (vista)'}}</strong>
    </span>
  </ng-container>

  <ng-container *ngIf="playersService.cardsToDealNextRound < 0">
    Fin de la partida
  </ng-container>
</ng-container>

<!-- Other games -->
<ng-container *ngIf="gameConfigService.config.name !== pochaConfig.name">
  <span class="no-break">Ronda: <strong>{{playersService.nextRoundNumber}}</strong></span>
  &nbsp;&nbsp;
  <span class="no-break">Reparte: <strong>{{playersService.playerNameDealsNextRound}}</strong></span>
</ng-container>