<div class="background"></div>

<div class="content">
  <figure>
    <img src="assets/pages-presentation/my-trayectory/jaime.png" alt="Foto de Jaime">

    <figcaption>
      <div class="name">Jaime Martín Martín</div>
      <div class="profession">Ingeniero informático</div>
    </figcaption>
  </figure>

  <main class="cv">
    <article>
      <h1>Sumario</h1>
      <p>
        Tengo más de cinco años de experiencia trabajando con clientes en proyectos en producción.
      </p>
      <p>
        Tengo una fuerte pasión por mi trabajo, y en mi tiempo libre es habitual dedicarme a investigar
        nuevas tecnologías y crear mis propios proyectos para practicar, aprender y mejorar.
      </p>
    </article>

    <article>
      <h1>Experiencia</h1>

      <article class="experience">
        <header>
          <h2>Área de hipotecas</h2>

          <div class="company-and-position">Cognizant - Frontend</div>
        </header>

        <p class="description">
          Desarrollo de múltiples aplicaciones para permitir a los clientes subir los documentos necesarios
          a la hora de solicitar una hipoteca. A través de un formulario se genera la lista automáticamente.
          Por su parte, los gestores también pueden modificar manualmente esta lista y cambiar el estado a aceptado o
          rechazado. Conexión con servicios de terceros para obtener los documentos automáticamente con autorización del
          cliente. Test de conocimiento para poder gestionar el cliente un incremento de su hipoteca.
        </p>

        <footer>
          <div class="technologies"><span>Tecnologías</span>: HTML, CSS, JavaScript, LitElement</div>

          <div class="date-and-location"><span>Enero 2023 - Presente</span> <span>Valladolid</span></div>
        </footer>
      </article>

      <hr>

      <article class="experience">
        <header>
          <h2>Entrenamiento</h2>

          <div class="company-and-position">Cognizant - Frontend</div>
        </header>

        <p class="description">
          Estudio de nuevas tecnologías como React o LitElement. Resolución de problemas sencillos con estas tecnologías
          para afianzar y demostrar el conocimiento adquirido.
        </p>

        <footer>
          <div class="date-and-location"><span>Octubre 2022 - Diciembre 2022</span> <span>Valladolid</span></div>
        </footer>
      </article>

      <hr>

      <article class="experience">
        <header>
          <h2>Área de negocios</h2>

          <div class="company-and-position">Cognizant - Full Stack</div>
        </header>

        <p class="description">
          Desarrollo de una gran aplicación descompuesta en múltiples proyectos en el sector de los negocios. Permite al
          usuario realizar transferencias, ver el estado de sus empresas y mucho más.
        </p>

        <p>
          Desarrollo de una capa intermedia entre el frontend y el backend que añade seguridad y facilidad de
          tratamiento de los datos para el frontend.
        </p>

        <footer>
          <div class="technologies"><span>Tecnologías</span>: HTML, SCSS, TypeScript, Angular, Java, Spring Boot</div>

          <div class="date-and-location"><span>Agosto 2020 - Septiembre 2022</span> <span>Valladolid</span></div>
        </footer>
      </article>

      <hr>

      <article class="experience">
        <header>
          <h2>Sector financiero</h2>

          <div class="company-and-position">Cognizant - Frontend</div>
        </header>

        <p class="description">
          Análisis funcional e implementación de una aplicación frontend relacionada con las finanzas,
          que permite obtener una oferta para un producto en tiempo real.
        </p>

        <footer>
          <div class="technologies"><span>Tecnologías</span>: HTML, SCSS, TypeScript, Angular</div>

          <div class="date-and-location"><span>Junio 2020 - Julio 2020</span> <span>Valladolid</span></div>
        </footer>
      </article>

      <hr>

      <article class="experience">
        <header>
          <h2>Área de seguros</h2>

          <div class="company-and-position">Cognizant - Frontend</div>
        </header>

        <p class="description">
          Desarrollo de múltiples aplicaciones para diferentes dispositivos relacionados con el seguro de la casa, la
          familia o el coche. Permite dar partes o contrar nuevos seguros o pólizas. Asistencia en viaje.
        </p>

        <footer>
          <div class="technologies"><span>Tecnologías</span>: HTML, SCSS, TypeScript, Angular</div>

          <div class="date-and-location"><span>Junio 2019 - Mayo 2020</span> <span>Valladolid</span></div>
        </footer>
      </article>

      <hr>

      <article class="experience">
        <header>
          <h2>Iniciación</h2>

          <div class="company-and-position">Cognizant - Desarrollador</div>
        </header>

        <p class="description">
          Realización de diversos cursos en tecnologías como Git, HTML, CSS, JavaScript, Angular y Java. Miniproyecto
          para gestionar incidentes dentro de la empresa y demostrar el aprendizaje adquirido.
        </p>

        <footer>
          <div class="date-and-location"><span>Junio 2019 - Mayo 2020</span> <span>Valladolid</span></div>
        </footer>
      </article>

      <hr>

      <article class="experience">
        <header>
          <h2>Trabajo de fin de grado</h2>

          <div class="company-and-position">Universidad de Salamanca - Estudiante</div>
        </header>

        <p class="description">
          OMR (Optical Mark Recognition) software para la corrección automática de exámenes tipo test a través de
          plantillas configuradas. Aplicación para generar plantillas.
        </p>

        <footer>
          <div class="technologies"><span>Tecnologías</span>: Java, OpenCV</div>

          <div class="date-and-location"><span>Febrero 2018 - Julio 2018</span> <span>Salamanca</span></div>
        </footer>
      </article>

      <hr>

      <article class="experience">
        <header>
          <h2>Prácticas externas</h2>

          <div class="company-and-position">Arsoft - Desarrollador</div>
        </header>

        <p class="description">
          Desarrollo de aplicaciones con realidad virtual y realidad aumentada con fines didácticos en el entorno
          industrial.
        </p>

        <footer>
          <div class="technologies"><span>Tecnologías</span>: Unity, C#</div>

          <div class="date-and-location"><span>Febrero 2018 - Mayo 2018</span> <span>Salamanca</span></div>
        </footer>
      </article>
    </article>

    <article>
      <h1>Educación</h1>

      <article class="education">
        <header>
          <h2>Grado en ingeniería informática</h2>

          <div class="location">Universidad de Salamanca</div>
        </header>

        <p class="description">
          Estudios relacionados con la ingeniería del software, el hardware, estructuras de datos, redes, principios
          físicos...
        </p>

        <p class="description">
          Nota media de 8.88 y segundo mejor de mi promoción. Premio extraordinario de grado.
        </p>

        <footer>
          <div class="date"><span>Septiembre 2014 - Julio 2018</span></div>
        </footer>
      </article>

      <article class="education">
        <header>
          <h2>Bachillerato de ciencias y tecnologías</h2>

          <div class="location">Instituto Martínez Uribarri de Salamanca</div>
        </header>

        <footer>
          <div class="date"><span>Septiembre 2012 - Junio 2014</span></div>
        </footer>
      </article>
    </article>
  </main>
</div>