@import "../../shared/styles/colors";

:host {
    display: block;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40vh;
    background-color: $color-blue;
}

.content {
    position: relative;
    max-width: 1050px;
    margin: 150px auto 0;
    background-color: white;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    padding: 20px;
    box-sizing: border-box;

    figure {
        flex-shrink: 0;
        align-self: flex-start;
        position: sticky;
        top: 10vh;
        width: 30%;
        margin: 40px 0 0;

        img {
            width: 100%;
            max-height: 80%;
            object-fit: contain;
        }

        figcaption {
            text-align: center;
            margin-top: 10px;

            .name {
                font-size: 20px;
            }

            .profession {
                margin-top: 10px;
                font-size: 24px;
            }
        }
    }

    .cv {
        flex-grow: 1;

        nav {
            position: sticky;
            top: -1px;
            background-color: white;
            padding: 20px;
            z-index: 999;
            display: flex;
            justify-content: space-around;
            gap: 10px;
        }

        article {
            h1 {
                color: $color-orange;
                font-size: 1rem;
                margin-top: 50px;
            }

            hr {
                border: 1px solid $color-orange;
            }
        }

        .education,
        .experience {
            margin: 15px 0;

            h2 {
                font-size: 1.5rem;
                margin: 5px 0;
                color: $color-blue;
            }

            .location,
            .company-and-position {
                font-size: 0.9rem;
                color: #525252;
                margin: 5px 0 10px;
            }

            .description {
                margin: 0;
                margin-bottom: 10px;
            }

            .technologies {
                font-size: 0.9rem;

                span {
                    font-weight: bold;
                    color: purple;
                }
            }

            .date,
            .date-and-location {
                display: flex;
                justify-content: space-between;
                margin-top: 5px;
                padding-right: 20px;
                font-size: 0.9rem;
            }
        }

        .idiom {
            font-weight: bold;
            display: flex;
            gap: 7px;
            margin-bottom: 20px;

            div {
                display: flex;
                flex-direction: column;
                gap: 2px;

                .note {
                    display: inline-block;
                    font-size: 0.7rem;
                }
            }
        }

        #tecnologias div {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 10px;
        }

        #referencias p {
            border: 1px solid black;
            border-radius: 5px;
            padding: 10px;
            font-size: 0.85rem;
        }
    }
}

@media (max-width: 575px) {
    .content {
        border-radius: 0;
        flex-direction: column;

        figure {
            width: 100%;
            position: static;

            img {
                max-height: 360px;
            }
        }
    }
}
