<div class="background"></div>

<div class="content">
  <figure>
    <img src="assets/pages-presentation/my-trayectory/jaime.png" alt="Foto de Jaime">

    <figcaption>
      <div class="name">Jaime Martín Martín</div>
      <div class="profession">Ingeniero informático</div>
    </figcaption>
  </figure>

  <main class="cv">
    <article>
      <h1>Sumario</h1>
      <p>
        Tengo más de cinco años de experiencia trabajando con clientes en proyectos en producción.
      </p>
      <p>
        Tengo una fuerte pasión por mi trabajo, y en mi tiempo libre es habitual dedicarme a investigar
        nuevas tecnologías y crear mis propios proyectos para practicar, aprender y mejorar.
      </p>
    </article>

    <article>
      <h1>Experiencia</h1>

      <article class="experience">
        <header>
          <h2>Área de hipotecas</h2>

          <div class="company-and-position">Cognizant - Frontend</div>
        </header>

        <p class="description">
          Desarrollo de múltiples aplicaciones para permitir a los clientes subir los documentos necesarios
          a la hora de solicitar una hipoteca. A través de un formulario se genera la lista automáticamente.
          Por su parte, los gestores también pueden modificar manualmente esta lista y cambiar el estado a aceptado o
          rechazado. Conexión con servicios de terceros para obtener los documentos automáticamente con autorización del
          cliente. Test de conocimiento para poder gestionar el cliente un incremento de su hipoteca.
        </p>

        <footer>
          <div class="technologies"><span>Tecnologías</span>: HTML, CSS, JavaScript, LitElement</div>

          <div class="date-and-location"><span>Enero 2023 - Presente</span> <span>Valladolid</span></div>
        </footer>
      </article>

      <hr>

      <article class="experience">
        <header>
          <h2>Entrenamiento</h2>

          <div class="company-and-position">Cognizant - Frontend</div>
        </header>

        <p class="description">
          Estudio de nuevas tecnologías como React o LitElement. Resolución de problemas sencillos con estas tecnologías
          para afianzar y demostrar el conocimiento adquirido.
        </p>

        <footer>
          <div class="date-and-location"><span>Octubre 2022 - Diciembre 2022</span> <span>Valladolid</span></div>
        </footer>
      </article>

      <hr>

      <article class="experience">
        <header>
          <h2>Área de negocios</h2>

          <div class="company-and-position">Cognizant - Full Stack</div>
        </header>

        <p class="description">
          Desarrollo de una gran aplicación descompuesta en múltiples proyectos en el sector de los negocios. Permite al
          usuario realizar transferencias, ver el estado de sus empresas y mucho más.
        </p>

        <p>
          Desarrollo de una capa intermedia entre el frontend y el backend que añade seguridad y facilidad de
          tratamiento de los datos para el frontend.
        </p>

        <footer>
          <div class="technologies"><span>Tecnologías</span>: HTML, SCSS, TypeScript, Angular, Java, Spring Boot</div>

          <div class="date-and-location"><span>Agosto 2020 - Septiembre 2022</span> <span>Valladolid</span></div>
        </footer>
      </article>

      <hr>

      <article class="experience">
        <header>
          <h2>Sector financiero</h2>

          <div class="company-and-position">Cognizant - Frontend</div>
        </header>

        <p class="description">
          Análisis funcional e implementación de una aplicación frontend relacionada con las finanzas,
          que permite obtener una oferta para un producto en tiempo real.
        </p>

        <footer>
          <div class="technologies"><span>Tecnologías</span>: HTML, SCSS, TypeScript, Angular</div>

          <div class="date-and-location"><span>Junio 2020 - Julio 2020</span> <span>Valladolid</span></div>
        </footer>
      </article>

      <hr>

      <article class="experience">
        <header>
          <h2>Área de seguros</h2>

          <div class="company-and-position">Cognizant - Frontend</div>
        </header>

        <p class="description">
          Desarrollo de múltiples aplicaciones para diferentes dispositivos relacionados con el seguro de la casa, la
          familia o el coche. Permite dar partes o contrar nuevos seguros o pólizas. Asistencia en viaje.
        </p>

        <footer>
          <div class="technologies"><span>Tecnologías</span>: HTML, SCSS, TypeScript, Angular</div>

          <div class="date-and-location"><span>Junio 2019 - Mayo 2020</span> <span>Valladolid</span></div>
        </footer>
      </article>

      <hr>

      <article class="experience">
        <header>
          <h2>Iniciación</h2>

          <div class="company-and-position">Cognizant - Desarrollador</div>
        </header>

        <p class="description">
          Realización de diversos cursos en tecnologías como Git, HTML, CSS, JavaScript, Angular y Java. Miniproyecto
          para gestionar incidentes dentro de la empresa y demostrar el aprendizaje adquirido.
        </p>

        <footer>
          <div class="date-and-location"><span>Junio 2019 - Mayo 2020</span> <span>Valladolid</span></div>
        </footer>
      </article>

      <hr>

      <article class="experience">
        <header>
          <h2>Trabajo de fin de grado</h2>

          <div class="company-and-position">Universidad de Salamanca - Estudiante</div>
        </header>

        <p class="description">
          OMR (Optical Mark Recognition) software para la corrección automática de exámenes tipo test a través de
          plantillas configuradas. Aplicación para generar plantillas.
        </p>

        <footer>
          <div class="technologies"><span>Tecnologías</span>: Java, OpenCV</div>

          <div class="date-and-location"><span>Febrero 2018 - Julio 2018</span> <span>Salamanca</span></div>
        </footer>
      </article>

      <hr>

      <article class="experience">
        <header>
          <h2>Prácticas externas</h2>

          <div class="company-and-position">Arsoft - Desarrollador</div>
        </header>

        <p class="description">
          Desarrollo de aplicaciones con realidad virtual y realidad aumentada con fines didácticos en el entorno
          industrial.
        </p>

        <footer>
          <div class="technologies"><span>Tecnologías</span>: Unity, C#</div>

          <div class="date-and-location"><span>Febrero 2018 - Mayo 2018</span> <span>Salamanca</span></div>
        </footer>
      </article>
    </article>

    <article>
      <h1>Educación</h1>

      <article class="education">
        <header>
          <h2>Grado en ingeniería informática</h2>

          <div class="location">Universidad de Salamanca</div>
        </header>

        <p class="description">
          Estudios relacionados con la ingeniería del software, el hardware, estructuras de datos, redes, principios
          físicos...
        </p>

        <p class="description">
          Nota media de 8.88 y segundo mejor de mi promoción. Premio extraordinario de grado.
        </p>

        <footer>
          <div class="date"><span>Septiembre 2014 - Julio 2018</span></div>
        </footer>
      </article>

      <hr>

      <article class="education">
        <header>
          <h2>Bachillerato de ciencias y tecnologías</h2>

          <div class="location">Instituto Martínez Uribarri de Salamanca</div>
        </header>

        <footer>
          <div class="date"><span>Septiembre 2012 - Junio 2014</span></div>
        </footer>
      </article>
    </article>

    <article>
      <h1>Idiomas</h1>

      <div class="idiom">
        <span>Español:</span>

        <div>
          <div>
            <span class="bullet"></span>
            <span class="bullet"></span>
            <span class="bullet"></span>
            <span class="bullet"></span>
            <span class="bullet"></span>
          </div>
          <span class="note">Nativo</span>
        </div>
      </div>

      <div class="idiom">
        <span>Inglés:</span>

        <div>
          <div>
            <span class="bullet"></span>
            <span class="bullet"></span>
            <span class="bullet"></span>
            <span class="bullet bullet--half"></span>
            <span class="bullet bullet--empty"></span>
          </div>
          <span class="note">Trabajo diario</span>
        </div>
      </div>
    </article>

    <article>
      <h1>Tecnologías</h1>

      <div class="tech">
        <svg appHtmlLogoSvg viewBox="0 0 100 100" width="20"></svg>

        <span>HTML 5:</span>

        <div>
          <span class="bullet"></span>
          <span class="bullet"></span>
          <span class="bullet"></span>
          <span class="bullet"></span>
          <span class="bullet"></span>
        </div>
      </div>

      <div class="tech">
        <svg appCssLogoSvg viewBox="0 0 100 100" width="20"></svg>

        <span>CSS 3:</span>

        <div>
          <span class="bullet"></span>
          <span class="bullet"></span>
          <span class="bullet"></span>
          <span class="bullet"></span>
          <span class="bullet"></span>
        </div>
      </div>

      <div class="tech">
        <svg appJavascriptLogoSvg viewBox="0 0 100 100" width="20"></svg>

        <span>JavaScript:</span>

        <div>
          <span class="bullet"></span>
          <span class="bullet"></span>
          <span class="bullet"></span>
          <span class="bullet"></span>
          <span class="bullet"></span>
        </div>
      </div>

      <div class="tech">
        <svg appLitElementLogoSvg viewBox="0 0 100 100" width="20"></svg>

        <span>LitElement:</span>

        <div>
          <span class="bullet"></span>
          <span class="bullet"></span>
          <span class="bullet"></span>
          <span class="bullet"></span>
          <span class="bullet"></span>
        </div>
      </div>

      <div class="tech">
        <svg appAngularLogoSvg viewBox="0 0 100 100" width="20"></svg>

        <span>Angular:</span>

        <div>
          <span class="bullet"></span>
          <span class="bullet"></span>
          <span class="bullet"></span>
          <span class="bullet"></span>
          <span class="bullet"></span>
        </div>
      </div>

      <div class="tech">
        <svg appJavaLogoSvg viewBox="0 0 100 100" width="20"></svg>

        <span>Java:</span>

        <div>
          <span class="bullet"></span>
          <span class="bullet"></span>
          <span class="bullet"></span>
          <span class="bullet bullet--empty"></span>
          <span class="bullet bullet--empty"></span>
        </div>
      </div>

      <div class="tech">
        <svg appSpringBootLogoSvg viewBox="0 0 100 100" width="20"></svg>

        <span>Spring Boot:</span>

        <div>
          <span class="bullet"></span>
          <span class="bullet"></span>
          <span class="bullet bullet--half"></span>
          <span class="bullet bullet--empty"></span>
          <span class="bullet bullet--empty"></span>
        </div>
      </div>

      <div class="tech">
        <svg appGitLogoSvg viewBox="0 0 100 100" width="20"></svg>

        <span>Git:</span>

        <div>
          <span class="bullet"></span>
          <span class="bullet"></span>
          <span class="bullet"></span>
          <span class="bullet"></span>
          <span class="bullet bullet--half"></span>
        </div>
      </div>

      <div class="tech">
        <svg appDockerLogoSvg viewBox="0 0 100 100" width="20"></svg>

        <span>Docker:</span>

        <div>
          <span class="bullet"></span>
          <span class="bullet"></span>
          <span class="bullet"></span>
          <span class="bullet bullet--empty"></span>
          <span class="bullet bullet--empty"></span>
        </div>
      </div>

      <div class="tech">
        <svg appKubernetesLogoSvg viewBox="0 0 100 100" width="20"></svg>

        <span>Kubernetes:</span>

        <div>
          <span class="bullet"></span>
          <span class="bullet"></span>
          <span class="bullet bullet--half"></span>
          <span class="bullet bullet--empty"></span>
          <span class="bullet bullet--empty"></span>
        </div>
      </div>
    </article>

    <article class="references">
      <h1>Referencias</h1>

      <p>
        Jaime's performance has been very good this semester. The client is happy for having him in the project pointing
        out how proactive and eager to improve and he is also fast on his tasks without loosing high quality on the work
        he delivers. Apart from this, he has been very actively involved in taking part of the LitElement training as
        tech buddy with two different teams. Both of them have been very grateful for having him as their support. Jaime
        has been very involved and open to help them at any time explaining everything carefully and with very good
        feedback from both teams. Continue working like this Jaime. You have a great future ahead.
      </p>

      <p>
        Jaime has done a very good job this year. He has finished his collaboration with the client after some years
        with very good feedback from the client pointing on his high quality technical skills and his effort. This
        client
        is very demanding and he has showed always flexibility and open to changes when it was required. He also
        started very good with the new client at the end of the year, always willing to learn and grow.
      </p>

      <p>
        Jaime's performance has been great. He has finished his collaboration with a client with very good feedback. His
        contribution to that client has been very well recognized for his efort, quality and pro activity. He has used
        his time unassigned to the project to improve and grow his technical skills with new tehcnologies and he has
        pass successfully the interview to get into a new client that already showed recognition for his willing to
        start and his technical skills. At this point he could focus on taking leadership responsabilities, he could
        work in leadership soft skills to start taking actions as so.
      </p>

      <p>
        Jaime is performing very well according to feedbacks provided. He is focus always in have best quality in his
        task but balanced with time constrains and current project situation. Client provide feedback about his
        proactivity and "Let's do it" mindset that are valuable skills within our clients. Also as KM he decided do
        deep a bit more in angular ecosystem and create a repository for learning that include how to work with
        schematics (powerful angular feature). He looks motivated to learn more and should try other demanded
        technologies such as React to have a global vision about FE development and keep growing in his career.
      </p>

      <p>
        Jaime has the mindset of a true software engineer. He is always looking for the best solution and is very eager
        to dive into new technologies and challenges. Being both knowledgeable and independent, people are always
        fighting to have him assigned to their project team. I noticed early on that Jaime is exceptionally good in
        breaking down complex problems and making sure his deliveries are of the highest quality. Hi is not afraid to
        ask for help and is open to alternative solutions, which I believe were the foundations for his steady growth as
        a professional software developer over the last years. Over time, I can see Jaime becoming a Tech Lead or
        Solucion Architect. He definitely has the right skills and talents to grow towards such a position.
      </p>

      <p>
        Jaime is one of the more experienced technical colleagues of our team. For questions regarding estimations,
        technical issues and support, he is one of my key go-to persons. He is very easy to communicate with, speaks his
        mind and thinks along with questions and doubts to find the perfect solution. The work he delivers is very
        stable and if updates or changes need to occure, they are processed very fast. To summarize: A real team player.
      </p>

      <p>
        Jaime always completes any assignment on time and to a high standard. Always succeeds in explaining ideas
        clearly. Others find Jaime easy to understand. He also has the ability to listen carefully to what others are
        saying, to understand and then to respond appropriately. Conversations with Jaime are two-way. A self-starter -
        someone who always finds out the right thing to do and gets on with the job. If a manager has given no guidance
        Jaime will still take appropiate action. If the required tools are unavailable, he is able to improvise. From a
        set of data Jaime is able to establish a principle, or work out a rule, or suggest a reason for failure or
        success. His analysis is always accurate and sometimes original. When working to a firm but realistic deadline,
        Jaime always completes tasks to a high standard. Care and accuracy is obvious even when put under pressure of
        time.
      </p>
    </article>
  </main>
</div>