<div class="page-header">
  <h1 class="title">ExhaustMap</h1>
  <a class="link-rxjs" href="https://rxjs.dev/api/operators/exhaustMap" target="_blank">rxjs exhaustMap ➡️</a>
</div>

<p>
  Este operador coge cada uno de los elementos emitidos por un Observable fuente y devuelve un nuevo Observable por
  cada elemento, cuyos elementos emitidos serán puestos de nuevo en el observable fuente y que serán los que se entregen
  al suscriptor. Los elementos emitidos en el Observable fuente son ignorados si el Observable creado para el elemento
  anterior aún no ha completado.
</p>

<textarea highlight-js [lang]="'typescript'">
import { Observable, exhaustMap } from 'rxjs';

// This is the source observable
const hearts$ = new Observable<string>((subscriber) => {
  subscriber.next('💜');
  setTimeout(() => subscriber.next('💚'), 100);
  setTimeout(() => subscriber.next('❤️'), 200);
  setTimeout(() => subscriber.next('🏘️'), 300);
});

// Use the pipe method to add operators
hearts$
  .pipe(
    exhaustMap(
      (heart) =>
        new Observable((subscriber) => {
          if (heart === '💜') {
            setTimeout(() => {
              subscriber.next('🍇');
              subscriber.complete();
            }, 150);
          } else if (heart === '💚') {
            subscriber.next('🍏');
            subscriber.complete();
          } else if (heart === '❤️') {
            setTimeout(() => {
              subscriber.next('🍓');
              subscriber.complete();
            }, 150);
          } else {
            subscriber.error(`No heart value: ${heart}`);
          }
        })
    )
  )
  .subscribe({
    next: (value) => console.log(`The next value is: ${value}`),
    error: (error) => console.error(`There is an error: ${error}`),
    complete: () => console.log('Completed'),
  });

// Output
// ======
// The next value is: 🍇
// The next value is: 🍓
</textarea>

<p>
  En este ejemplo tenemos un Observable que emite corazones de colores, y por cada corazón tenemos otro observable que
  nos emite una fruta del mismo color que el corazón.
</p>

<p>
  Primero se emite el corazón morado y se crea un Observable. Cuando pasen 150 milisegundos se emitirán unas uvas.
  Después pasan 100 milisegundos y se emite el corazón verde. Como el Observabable del corazón morado aún no ha
  completado, el corazón verde se ignora y nunca se emitirá una manzana. Pasan entonces 50 milisegundos más y se emiten
  las uvas. Pasan otros 50 milisegundos y se emite el corazón rojo en el Observable fuente. Esto crear un nuevo
  Observable que emite una fresa pasados 150 milisegundos. Pasan 100 milisegundos y se emite la casa, que debería
  producir un error. Pero como el Observable del corazón rojo no ha completado, la casita se ignora.
</p>

<p>
  A continuación te dejo un simulador para que pruebes:
</p>

<!-- TODO add demo -->