@import "../shared/styles/rxjs-shared-styles";

:host {
    display: block;
}

.demo-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 30px;
    gap: 2%;
}
