<div class="page-header">
  <h1 class="title">CombineLatestWith</h1>
  <a class="link-rxjs" href="https://rxjs.dev/api/operators/combineLatestWith" target="_blank" rel="noopener">rxjs combineLatestWith
    ➡️</a>
</div>

<p>
  Este operador crea un nuevo Observable que combina en un array los últimos elementos emitidos por el Observable fuente
  y los Observables pasados como argumentos, siempre que todos los Observables hayan emitido al menos un elemento.
</p>

<textarea highlight-js [lang]="'typescript'">
import { combineLatestWith, Observable } from 'rxjs';

const observable1 = new Observable((subscriber) => {
  setTimeout(() => subscriber.next('🍎'), 100);
  setTimeout(() => subscriber.next('🍌'), 200);
  setTimeout(() => subscriber.complete(), 600);
});

const observable2 = new Observable((subscriber) => {
  setTimeout(() => subscriber.next('🍐'), 300);
  setTimeout(() => subscriber.next('🍍'), 800);
  setTimeout(() => subscriber.complete(), 900);
});

const source$ = new Observable((subscriber) => {
  setTimeout(() => subscriber.next('🍓'), 400);
  setTimeout(() => subscriber.next('🍉'), 500);
  setTimeout(() => subscriber.complete(), 700);
});

source$.pipe(
  combineLatestWith(observable1, observable2),
).subscribe({
  next: (value) => console.log('Next', value),
  error: (error) => console.log('Error', error),
  complete: () => console.log('Completed'),
});

// Output
// Next ['🍓', '🍌', '🍐']
// Next ['🍉', '🍌', '🍐']
// Next ['🍉', '🍌', '🍍']
// Complete
</textarea>

<p>
  Voy a explicar el ejemplo.
</p>

<p>
  Tenemos dos Observables que pasamos como argumentos al operador y el Observable fuente. Al suscribirnos al Observable
  fuente el operador se suscribe también a los dos Observables que le pasamos. Ahora independientemente de que
  Obsevable emita, se emitirá un nuevo elemento en forma de array al suscriptor con el último elemento que cada
  Observable haya emitido, siempre y cuando todos los Observables hayan emitido al menos un elemento ya.
</p>

<p>
  Por lo tanto, el observable1 emite una 🍎. Como los demás Observables no han emitido nada aún no se emite nada al
  suscriptor. El observable1 vuelve a emitir un 🍌. Como los demás Observables no han emitido nada aún no se emite
  nada al suscriptor. El observable2 emite una 🍐. Como el Observable fuente aún queda por emitir no se emite nada al
  suscriptor. El Obsevable fuente emite una 🍓. Como todos los Observables han emitido un elemento ya, se entrega al
  suscriptor un array <span class="no-break">['🍓', '🍌', '🍐']</span> con los últimos elementos de cada Observable. El
  Observable fuente emite una 🍉. Por tanto se emite al suscriptor de nuevo los últimos elementos de cada Observable
  <span class="no-break">['🍉', '🍌', '🍐']</span>. Después el observable2 emite una 🍍 y se emite al suscriptor un
  nuevo array <span class="no-break">['🍉', '🍌', '🍍']</span>.
</p>

<p>
  Una cosa a tener en cuenta es que el Observable al que se suscribe el suscriptor solo completa cuando todos los
  Observables han completado. Si alguno de los Observables completa y otro emite un elemento, todavía se entregará un
  array al suscriptor, incluyendo también el último elemento de los Observables que ya han completado.
</p>

<p>
  A continuación te dejo un simulador para que pruebes:
</p>

<svg appDemoContainer viewBox="0 0 900 600">
  <!-- main conveyor left controller -->
  <g appConveyorController transform="translate(45,400)" [button1]="controllerButtons[MAIN_ID][0]"
    [button2]="controllerButtons[MAIN_ID][1]" [button3]="controllerButtons[MAIN_ID][2]"
    [button4]="controllerButtons[MAIN_ID][3]" [button5]="controllerButtons[MAIN_ID][4]"
    (onButtonClick)="onControllerButtonClick($event)"></g>

  <!-- main conveyor left -->
  <g appConveyorHorizontal transform="translate(240,430)" [length]="230.5"
    [conveyorWorking$]="conveyorsWorking[MAIN_ID[0]]">
  </g>

  <!-- left combineLatestWith conveyor controller -->
  <g appConveyorController transform="translate(290,35)" [button1]="controllerButtons[COMBINELATESTWITH[0]][0]"
    [button2]="controllerButtons[COMBINELATESTWITH[0]][1]" [button3]="controllerButtons[COMBINELATESTWITH[0]][2]"
    [button4]="controllerButtons[COMBINELATESTWITH[0]][3]" [button5]="controllerButtons[COMBINELATESTWITH[0]][4]"
    (onButtonClick)="onControllerButtonClick($event)"></g>

  <!-- left combineLatestWith conveyor -->
  <g appConveyorVertical transform="translate(335,155)" [conveyorWorking$]="conveyorsWorking[COMBINELATESTWITH[0]]"></g>

  <g appOperator transform="translate(435,390)"></g>

  <!-- right combineLatestWith conveyor controller -->
  <g appConveyorController transform="translate(480,35)" [button1]="controllerButtons[COMBINELATESTWITH[1]][0]"
    [button2]="controllerButtons[COMBINELATESTWITH[1]][1]" [button3]="controllerButtons[COMBINELATESTWITH[1]][2]"
    [button4]="controllerButtons[COMBINELATESTWITH[1]][3]" [button5]="controllerButtons[COMBINELATESTWITH[1]][4]"
    (onButtonClick)="onControllerButtonClick($event)"></g>

  <!-- right combineLatestWith conveyor -->
  <g appConveyorVertical transform="translate(525,155)" [conveyorWorking$]="conveyorsWorking[COMBINELATESTWITH[1]]"></g>

  <!-- main conveyor right -->
  <g appConveyorHorizontal transform="translate(480,430)" [length]="230.5"
    [conveyorWorking$]="conveyorsWorking[COMBINELATESTWITH[2]]">
  </g>

  <!-- subscriber -->
  <g appSubscriber transform="translate(750,375)" [showSpeechBubble$]="speechBubble$"
    (onSubscribe$)="onSubscribe($event)"></g>

  <g>
    <text *ngFor="let element of elementsInStandby" [attr.x]="element.x" [attr.y]="element.y">{{element.value}}</text>
    <text *ngFor="let element of elementsInConveyor" [attr.x]="element.x" [attr.y]="element.y">{{element.value}}</text>
  </g>
</svg>