<form class="content" (submit)="onConfirm()">
  <div cdkDropList (cdkDropListDropped)="onReorderingPlayer($event)" class="players-list">
    <div cdkDrag cdkDragPreviewContainer="parent" class="player-item"
      *ngFor="let player of players; let i = index; trackBy: trackByPlayerIndex">
      <div *cdkDragPlaceholder></div>

      <label cdkDragHandle class="label">
        <strong>Jugador {{i+1}}</strong>
        <svg appDealCardsSvg viewBox="0 0 1000 1000" (click)="startsDealing = i" class="deal-cards-icon"
          [ngClass]="{'deal-cards-icon--active': startsDealing === i}"></svg>
      </label>

      <br>

      <div class="player-controls">
        <input #input type="text" name="player{{i}}" [(ngModel)]="players[i]">

        <div class="delete-icon" (click)="deletePlayer(i, $event)" *ngIf="this.players.length > 1">
          <div class="cross"></div>
        </div>
      </div>
    </div>
  </div>

  <button type="button" class="app-button new-player-button" (click)="addPlayer()">Nuevo jugador</button>

  <button type="submit" class="app-button confirm-button" [disabled]="!playersAreEntered()">Confirmar</button>
</form>