<table>
  <thead class="sticky-header">
    <tr>
      <th class="highlight-cell sticky-round-number">Ronda</th>
      <th class="highlight-cell" *ngFor="let player of players">{{player.name}}</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let round of rounds; let i = index">
      <th class="highlight-cell sticky-round-number" (click)="enterRound(i)">{{i+1}}</th>
      <td *ngFor="let score of round; let j = index" (click)="enterPunctuationForRoundAndPlayer(i, j)">{{score}}</td>
    </tr>
  </tbody>

  <tfoot class="sticky-footer">
    <tr>
      <th class="highlight-cell sticky-round-number">Total</th>
      <th class="highlight-cell" *ngFor="let player of players; let i = index">{{getTotalScore(i)}}</th>
    </tr>
  </tfoot>
</table>

<button cdkDrag class="new-round-button" (click)="enterNewRound()">+</button>
<app-next-round-pop-up *ngIf="showNewRoundPopUp" [nextRoundPopUpInput]="nextRoundPopUpInput"
  (nextRoundPopUpOutput)="onResultNewRound($event)"></app-next-round-pop-up>

<app-start-game-pop-up (confirm)="prepareTable($event)" *ngIf="showStartGamePopUp"></app-start-game-pop-up>