@mixin popup {
    :host {
        display: block;
        position: fixed;
        inset: 0;
        background-color: #3333ffdb;
        z-index: 9;
        padding: 15px;
    }

    .content {
        display: block;
        border: 3px solid #d17515;
        border-radius: 5px;
        background-color: white;
        padding: 15px;
        box-sizing: border-box;
        height: 100%;
    }
}

@mixin empty-state {
    :host(.empty-state) {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 50%;
        margin: 0 auto;
        height: 100%;
    }
}
