<app-continue-game-in-progress-pop-up *ngIf="showContinueGameInProgressPopUp"
  (confirmation)="onConfirmIfContinueGameInProgress($event)">
</app-continue-game-in-progress-pop-up>

<app-enter-punctuation-pop-up *ngIf="showEnterPunctuationPopUp" [enterPunctuationPopUpInput]="enterPunctuationPopUpInput"
  (enterPunctuationPopUpOutput)="onResultEnterPunctuation($event)" (closePopUp)="showEnterPunctuationPopUp = false">
</app-enter-punctuation-pop-up>

<div class="view-page" [ngClass]="{'fix-address-bar-height': addressBarHidden}">
  <router-outlet></router-outlet>
</div>

<app-bottom-controls class="bottom-controls"></app-bottom-controls>