<app-restart-game-pop-up *ngIf="showContinueGameInProgressPopUp" (confirmation)="onConfirmIfContinueGameInProgress($event)">
</app-restart-game-pop-up>

<app-next-round-pop-up *ngIf="showNewRoundPopUp" [nextRoundPopUpInput]="nextRoundPopUpInput"
  (nextRoundPopUpOutput)="onResultNewRound($event)" (closePopUp)="showNewRoundPopUp = false">
</app-next-round-pop-up>

<div class="view-page" [ngClass]="{'fix-address-bar-height': addressBarHidden}">
  <router-outlet></router-outlet>
</div>

<app-bottom-controls class="bottom-controls"></app-bottom-controls>