:host {
    display: block;
    height: 100vh;
    overflow: hidden;
}

.view-page {
    // substract height of the bottom-controls (56px), margins (15*2) and navigator bar height (39px ?)
    height: calc(100% - 125px);
    padding: 0 15px;
    margin-top: 15px;
    overflow: auto;
    box-sizing: border-box;
}

.fix-address-bar-height {
    height: calc(100% - 71px); // substract height of the bottom-controls (56px) and margin (15px)
}

.bottom-controls {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
}
