@import "./shared/styles/buttons";
@import "./shared/styles/links";
@import "./shared/styles/utils";

body {
    margin: 0;
    padding: 0;
    font-family: "ProximaNova", sans-serif;
    font-size: 1.125rem;
}
