@import "../../styles";

@include popup;

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .close-button {
        position: absolute;
        top: 20px;
        right: 25px;

        .cross {
            background-color: black;
            width: 20px;
            height: 20px;
            clip-path: polygon(
                20% 0%,
                0% 20%,
                30% 50%,
                0% 80%,
                20% 100%,
                50% 70%,
                80% 100%,
                100% 80%,
                70% 50%,
                100% 20%,
                80% 0%,
                50% 30%
            );
        }
    }

    .round-container {
        width: 100%;
        text-align: center;
        overflow: hidden;

        .players-container {
            display: flex;

            label {
                display: inline-block;
                min-width: 100%;
                white-space: nowrap;

                .player-name {
                    font-size: 1.4em;
                }

                .score-display {
                    display: inline-block;
                    border: none;
                    border-bottom: 2px solid black;
                    font-size: 1em;
                    margin-top: 15px;
                    padding: 0 10px;
                }
            }
        }
    }

    .keyboard {
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 10px;
        width: 85%;

        .previous-player {
            grid-row: 1;
            grid-column: span 3;
        }

        .next-player {
            grid-row: 1;
            grid-column: span 3;
        }

        span {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            grid-column: span 2;
            min-width: 45px;
            min-height: 35px;
            border: 3px solid #d17515;
            border-radius: 5px;
            background-color: #fbf2e2;
            padding: 8px;
            font-size: 1.7em;
            font-weight: 600;
            cursor: pointer;

            &:active {
                color: #d17515;
                transform: scale(1.08);
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .content {
        flex-direction: row;

        .close-button {
            right: unset;
            left: 25px;
        }

        .keyboard {
            position: static;
            min-width: 45%;
            margin-right: 5%;
            gap: 3px;

            span {
                padding: 0px;
                font-size: 1em;
            }
        }
    }
}
