@import "../../shared/styles/colors";

:host {
    display: block;
}

.intro {
    min-height: 98vh;
    display: flex;
    flex-direction: column;
    position: relative;

    .figure-and-title {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        gap: 50px;
        background-color: $color-blue;
        padding: 50px;

        .figure__picture {
            $figure-size: 200px;

            cursor: pointer;
            width: $figure-size;
            height: $figure-size;
            user-select: none;
            border-radius: 50%;
            border: 5px solid $color-orange;
            background-color: #fcfcfc;
            box-shadow: 0 0 20px #fcfcfc;
            display: flex;
            justify-content: center;
            align-items: center;

            &__img {
                border-radius: 50%;
                width: $figure-size + 1px;
                height: $figure-size + 1px;
            }
        }

        .title {
            color: #fcfcfc;
            font-size: 3.8em;
        }
    }

    .waves {
        position: relative;
        top: -1px; // avoids small border line flashing
        z-index: -1;
        background-color: #fcfcfc;
        fill: $color-blue;
        display: block;

        path {
            transition: 2s linear;
        }
    }
}

.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fcfcfc;
    padding: 50px;

    .title {
        text-align: center;
        font-size: 4em;
    }

    .presentation {
        display: flex;
        align-items: center;
        gap: 30px;
        max-width: 850px;
        font-size: 1.15em;

        .app-link-button {
            padding: 9px;
            font-size: 1.5rem;
            flex-shrink: 0;
        }
    }
}

.personal-projects,
.learning {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
    padding: 50px;

    .title {
        text-align: center;
        font-size: 4em;
    }

    .carousel-item {
        width: 250px;
        height: 300px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-decoration: none;
        color: black;
        border: 2px solid $color-orange;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 0px $color-box-shadow;

        div {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 15px;

            span:first-child {
                color: $color-orange;
            }
        }
    }
}

.personal-projects {
    background-color: #fcfcfc;
}

.contact {
    background-color: rgb(126, 126, 126);
    padding: 50px;

    .contact-list {
        max-width: 720px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        .email,
        .linked-in,
        .github {
            display: flex;
            align-items: center;
            gap: 10px;
            color: #fefefe;
            text-decoration: none;

            svg {
                width: 50px;
            }
        }
    }
}

@media (max-width: 1200px) {
    .intro {
        .figure-and-title {
            gap: 20px;

            .title {
                font-size: 3em;
            }
        }
    }
}

@media (max-width: 991px) {
    .intro {
        .figure-and-title {
            flex-direction: column;

            .figure__picture {
                cursor: default;
            }

            .title {
                text-align: center;
            }
        }
    }

    .about-me {
        .presentation {
            max-width: 510px;
            flex-direction: column;
        }
    }
}

@media (max-width: 768px) {
    .contact {
        padding: 25px 15px;

        .contact-list {
            flex-direction: column-reverse;
            align-items: flex-start;
            max-width: 340px;
            gap: 15px;
        }
    }
}

@media (max-width: 575px) {
    $title-size: 3em;

    .intro {
        min-height: calc(98vh - 60px);

        .figure-and-title .title {
            margin: 30px 0;
        }
    }

    .about-me {
        padding: 20px;

        .title {
            font-size: $title-size;
        }
    }

    .personal-projects,
    .learning {
        padding: 20px;

        .title {
            font-size: $title-size;
        }

        app-carousel {
            gap: 0;
        }
    }
}
