<ng-container *ngIf="isEmptyState">
  Introduce al menos una ronda para mostrar la tabla de puntuaciones
</ng-container>

<table *ngIf="!isEmptyState">
  <thead class="sticky-header">
    <tr>
      <th class="highlight-cell sticky-round-number">Ronda</th>
      <th class="highlight-cell" *ngFor="let player of players">{{player.name}}</th>
    </tr>
  </thead>

  <tbody>
    <ng-container *ngFor="let round of getRoundNumbersAsArray()">
      <tr>
        <th class="highlight-cell sticky-round-number" (click)="popUpsService.enterRound$.next(round-1)">
          {{round}}
        </th>
        <td *ngFor="let score of getRoundScores(round-1); let playerId = index"
          (click)="popUpsService.enterPunctuationForRoundAndPlayer$.next({round: round-1, player: playerId})"
          [attr.style]="getBackgroundColor(score)">
          <div class="score">
            <span style="visibility: hidden" class="accumulated-score">
              ({{players[playerId].accumulatedScores[round].beforeRejoin}})
            </span>
            {{score}}
            <span class="accumulated-score">
              ({{players[playerId].accumulatedScores[round].beforeRejoin}})
            </span>
          </div>
        </td>
      </tr>

      <tr *ngIf="showRejoinRowAfterRound(round-1)">
        <th class="highlight-cell sticky-round-number">-</th>
        <td *ngFor="let substractScore of getRejoinScores(round -1)" class="score--rejoin">
          <div class="score score--rejoin">
            {{substractScore || ''}}
          </div>
        </td>
      </tr>
    </ng-container>
  </tbody>

  <tfoot class="sticky-footer">
    <tr>
      <th class="highlight-cell sticky-round-number">Total</th>
      <th class="highlight-cell" *ngFor="let player of players">{{player.totalScore.afterRejoin}}</th>
    </tr>
  </tfoot>
</table>