@import "../styles";

:host {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@include empty-state;

.head-banner {
    background-color: gainsboro;
    padding: 4px;
    margin-bottom: 8px;
    font-size: 0.9rem;
    text-align: center;
    line-height: 1.4rem;
    border-radius: 5px;
    position: sticky;
    top: 0;
}

.no-break {
    white-space: nowrap;
}
