<app-restart-game-pop-up (confirmation)="onConfirmRestartGame($event)" *ngIf="showRestartGamePopUp">
</app-restart-game-pop-up>

<app-start-game-pop-up (confirm)="prepareRanking($event)" *ngIf="showStartGamePopUp"></app-start-game-pop-up>

<app-next-round-pop-up *ngIf="showNewRoundPopUp" [nextRoundPopUpInput]="nextRoundPopUpInput"
  (nextRoundPopUpOutput)="onResultNewRound($event)"></app-next-round-pop-up>

<div class="ranking">
  <app-player-display *ngFor="let player of rankingPlayers" [player]="player"></app-player-display>
</div>

<div class="menu">
  <button>Nuevo juego</button>
  <button>Estadísticas</button>
  <button (click)="showScoreboardRankingToggle = !showScoreboardRankingToggle">
    <ng-container *ngIf="showScoreboardRankingToggle">Ver tabla</ng-container>
    <ng-container *ngIf="!showScoreboardRankingToggle">Ver ranking</ng-container>
  </button>
  <button (click)="enterNewRound()">Nueva ronda</button>
</div>