<app-header-print [data]="headerPrintData"></app-header-print>

<main>
  <h1 class="title">Configuración de un servidor DNS</h1>

  <section>
    <h2>Introducción</h2>

    <p>
      En este artículo voy a explicar como configurar un servidor DNS. Y quizá te preguntes: ¿para qué necesito yo
      configurar un servidor DNS si ya existen cientos de servidores por todo el mundo que me permiten navegar por
      internet?
    </p>

    <p>
      Quizá tengas razón y no lo necesites, pero si eres desarrolador o te dedicas a este mundo te puede resultar útil
      para <strong>crear tus dominios o zonas locales</strong> a los que solo tú tienes acceso en tu red. Sería una
      intranet privada. Podrías poner nombres a todos tus dispositivos y estos no serían visibles en internet.
    </p>

    <p>
      También te permitiría <strong>navegar más rápido</strong>, pues el DNS puede cachear dominios reales y resolverlos
      en tu propia red, sin tener que acceder a internet para ello.
    </p>
  </section>

  <section>
    <h2>Bind</h2>

    <p>
      El programa por excelencia que actúa como servidor de nombres es <a href="https://www.isc.org/bind/"
        target="_blank" rel="noopener"><strong>Bind</strong></a>. Significa <i>Berkeley Internet Name Domain</i> y es el
      programa que usan la mayoría de servidores DNS reales en todo el mundo.
    </p>

    <p>
      La organización <a href="https://www.isc.org/" target="_blank" rel="noopener">Internet Systems Consortium</a> es
      la encargada de su desarrollo, mantenimiento y actualizaciones. Es de <a
        href="https://github.com/isc-projects/bind9" target="_blank" rel="noopener">código abierto</a> y su versión
      actual es la nueve, por lo que también se le conoce como bind9. El nombre del proceso que lo implementa es
      <strong>named</strong>.
    </p>

    <p>
      Vamos manos a la obra 👷‍♂️🔨
    </p>
  </section>
</main>