$page-width: 830px;

:host {
    display: block;
    max-width: $page-width;
    margin: auto;
    padding: 0 20px 50px 20px;
    line-height: 30px;
}

.title {
    text-align: center;
}

a {
    color: #d17515;
}

code {
    display: block;
    background-color: black;
    color: #25fa2d;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;

    pre {
        margin: 0;
    }
}