<p>
  El registro TXT proporciona <strong>información sobre el dominio</strong>. El formato del registro es el siguiente:
</p>


<pre class="app-command-sintax">&lt;nombre&gt;  [&lt;ttl&gt;]  [&lt;clase&gt;]  TXT  &lt;descripción&gt;</pre>

<dl>
  <dt>descripción</dt>
  <dd>Puede ser cualquier texto que describa algo.</dd>
</dl>

<p>
  Un ejemplo de uso para este registro es verificar que eres el propietario de un dominio en google search console. Si
  tu eres el propietario, serás capaz de añadir el registro en el DNS para que google lo pueda leer.
</p>