<p>
  Este registro proporciona información sobre el dominio. Su formato de datos es el siguiente:
</p>


<pre>
  &lt;nombre&gt;  [&lt;ttl&gt;]  [&lt;class&gt;]  TXT  &lt;descripción&gt;
</pre>

<dl>
  <dt>descripción</dt>
  <dd>Puede ser cualquier texto que describa algo.</dd>
</dl>

<p>
  Un ejemplo de uso para este registro es verificar que eres el propietario de un dominio en google search console. Si
  tu eres el propietario, serás capaz de añadir el registro en el DNS para que google lo pueda leer.
</p>